body {
    padding: 0;
    margin: 0;
    height: 100dvh;
    font-family: sans-serif;
}

.note-name-input {
    outline: none;
    border: none;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;
    padding: 5px 10px;
}

.save-note-btn {
    cursor: pointer;
    padding: 5px 0;
    outline: none;
    border: none;
    width: 80px;
    background-color: #5c7dff;
    color: #fff;
    border-radius: 5px;
}


.file-dropdown {
    position: relative;
    width: fit-content;
    transition: .2s;
    cursor: pointer;
    padding: 7px;
    border-radius: 5px;
    color: #444863;
}

.file-dropdown:hover {
    background-color: #f9fbfd;
}

.file-dropdown .option {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 140px;
    top: 25px;
    left: 0;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.file-dropdown .option span {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 5px;
    transition: .2s;
}

.file-dropdown .option span:hover {
    background-color: rgb(221 240 255);
}

.file-dropdown .option i {
    margin-right: 5px;
}



.dropdown-title {
    font-size: 16px;
}