* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.back_btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(36, 40, 109);
    transition: .4s; 
    margin: 15px 10px;   
}

.stage_one_add_btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    transition: .4s;
}

.stage_one_add_btn:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(123, 196, 255, 1);
}


/*Universal add card*/

.stage_one_add_card  {
    height: 240px;
    border-radius: 15px;
    background-color: rgb(154, 191, 255, 1);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: .5rem .4rem 1rem rgb(202, 227, 255);
    transition: .9s;
}

.stage_two_add_card {
    height: 340px;
    border-radius: 15px;
    background-color: rgb(154, 191, 255, 1);
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: .5rem .4rem 1rem rgb(202, 227, 255);
    transition: .9s;
}

.stage_one_add_card div,
.stage_two_add_card div {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.stage_one_add_card p,
.stage_two_add_card p{
    color: #fff;
}