.cover {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(163, 216, 255, .5);
    z-index: 1;
}