.fancy_cover {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: 100dvw;
    height: 100dvh;
    background: rgb(51,183,255);
    background: linear-gradient(135deg, rgba(51,183,255,1) 0%, rgba(193,255,252,1) 100%);
    z-index: 1;
}