.folder {
    cursor: pointer;
    height: 340px;
    border-radius: 15px;
    background-color: var(--card);
    color: rgb(36, 40, 109);
    display: grid;
    grid-template-rows: 40px 1fr 50px;
    margin: 20px;
    overflow: visible;
    border: 1px solid var(--border-card);
}

.folder-name-box {
    cursor: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.update-folder-btns-container {
    position: absolute;
    margin-left: auto;
    background-color: var(--card);
    box-shadow: 0 0 20px rgb(213, 226, 241);
    width: 50px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    right: -19px;
    top: -18px;
    visibility: hidden;
}

.update-folder-btns-container button {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: transparent;
}

.confirm-folder-update-btn {
    margin-left: auto;
    margin-right: 3px;
}

.cancel-folder-update-btn {
    margin-right: 3px;
}

.update-folder-btns-container button:hover {
    background-color: aliceblue;
}


.folder-logo {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.folder-logo i {
    color: var(--icon);
    font-size: 40px;
}

.folder-util-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: 0;
    transition: .2s;
    cursor: auto;
}

.folder-util-bar:hover {
    opacity: 1;
}

.folder-util-bar button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    color: var(--icon);
    transition: .3s;
}

.folder-util-bar button:hover {
    background-color: rgba(92, 125, 255, .3);
}

.folder h4 {
    width: 100%;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--important);
    border-bottom: 2px solid transparent;
    transition: .2s;
}

.list-view-folder {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: inline-block;
    width: calc(100% - 30px);
    background-color: transparent;
    color: var(--text);
    font-weight: 600;
    border-radius: 15px;
    transition: .2s;
}

.list-view-folder:hover {
    background-color: rgba(92, 125, 255, .3);
}