header {
    margin: auto -16px;
    background-color: rgb(154, 191, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgb(158, 192, 255);
    color: #fff;
}

header .app_title {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

header i input {
  display: none;
}