.content-list-view {
    background-color: var(--list-view);
    display: block;
    padding: 10px 5px;
    overflow-y: scroll;
}

.content-list-view::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.content-list-view::-webkit-scrollbar-thumb {
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

.content-list-view-title {
    padding: 5px;
    color: var(--important);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 7px;
    margin-top: 15px;
}

.list-content-folders,
.list-content-notes {
    display: block;
    height: fit-content;
    margin: 20px 0;
}

.list-view-folder,
.list-view-note {
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: inline-block;
    opacity: 1;
    width: calc(100% - 30px);
    background-color: transparent;
    color: var(--text);
    font-weight: 600;
    border-radius: 20px;
    transition: .2s;
}

.list-view-no-note,
.list-view-no-folder {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: inline-block;
    opacity: 1;
    font-style: italic;
    width: calc(100% - 30px);
    color: var(--no-content);
    font-weight: 600;
}

.list-view-folder:hover,
.list-view-note:hover {
    background-color: var(--hover);
    color: var(--hover-text);
}
