.content-list-view {
    background-color: #f9fbfd; /*rgb(221 240 255)*/
    display: block;
    border-right: 1px solid rgb(212, 212, 212);
    padding: 10px 5px;
}

.content-list-view-title {
    padding: 5px;
    color: #444863;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 7px;
}

.list-view-caret-folders,
.list-view-caret-notes {
    rotate: 180deg;
    color: #6d6d6d;
    cursor: pointer;
    transition: .1s;
}

.list-content-folders,
.list-content-notes {
    display: block;
    height: fit-content;
    margin: 20px 0;
}

.list-view-folder,
.list-view-note {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: inline-block;
    opacity: 1;
    width: calc(100% - 30px);
    background-color: transparent;
    color: #444863;
    font-weight: 600;
    border-radius: 20px;
    transition: .2s;
}

.list-view-folder:hover,
.list-view-note:hover {
    background-color: rgba(92, 125, 255, .3);
}
