body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::selection {
    background-color: #e8f0fe;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: white;
}

.main {
    font-family: Roboto;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.main-top {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.create-folder-btn {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px 10px 7px 0px;
    width: 90px;
    background-color: #5c7dff; /*#c2e7ff*/
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px;
    font-family: Roboto;
}

.main-bottom {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-height: calc(100dvh - 50px);
}

.main-bottom .content-list-view {
    background-color: #f9fbfd; /*rgb(221 240 255)*/
    display: grid;
    grid-template-rows: 30px 1fr;
    border-right: 1px solid rgb(212, 212, 212);
}

.main-bottom .content-list-view .content-list-view-title {
    padding: 5px;
    color: #444863;
    font-size: 18px;
    font-weight: 600;
}

.content-list-view .list-content {
    display: block;
}

.list-content .list-view-folder {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    display: inline-block;
    width: calc(100% - 20px);
    background-color: transparent;
    color: #444863;
    font-weight: 600;
    border-radius: 15px;
    transition: .2s;
}

.list-content .list-view-folder:hover {
    background-color: rgba(92, 125, 255, .3);
}

.list-view-folder .folder-name {margin-left: 5px;}


.content-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, 380px);
    overflow-y: scroll;
}

.content-view::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.content-view::-webkit-scrollbar-thumb {
    background-color: rgb(221 240 255);
    border-radius: 10px;
}

@media (max-width: 700px) {
    .wrapper {grid-template-columns: 70px 1fr}
}