body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::selection {
    background-color: #e8f0fe;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: white;
}

.main {
    font-family: Roboto;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.main-top {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid rgb(212, 212, 212);
    gap: 10px;
}

.create-folder-btn {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px 10px 7px 0px;
    width: 90px;
    background-color: #5c7dff; /*#c2e7ff*/
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px;
    font-family: Roboto;
    transition: .2s;
}

.search-container {
    margin: 7px 10px 7px 0px;
    background-color: #f9fbfd;
    display: flex;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
}

.search-container input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px 5px;
}

.search-container i {
    margin-right: 5px;
    color: #444863;
}


.note-suggestions-list {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 165px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 10px;
    visibility: hidden;
}

.note-suggestions-list::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.note-suggestions-list::-webkit-scrollbar-thumb {
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
}

.note-suggestions-list li {
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}

.note-suggestions-list li:hover {
    background-color: rgba(92, 125, 255, .3);
}

.create-folder-btn:hover {
    background-color: #4a6eff;
}

.main-bottom {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-height: calc(100dvh - 50px);
}

.main-bottom .content-list-view {
    background-color: #f9fbfd; /*rgb(221 240 255)*/
    display: block;
    border-right: 1px solid rgb(212, 212, 212);
    padding: 10px 5px;
}

.main-bottom .content-list-view .content-list-view-title {
    padding: 5px;
    color: #444863;
    font-size: 18px;
    font-weight: 600;
}

.list-content-folders,
.list-content-notes {
    display: block;
    height: fit-content;
    margin: 20px 0;
}

.list-view-folder,
.list-view-note {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 5px;
    display: inline-block;
    width: calc(100% - 30px);
    background-color: transparent;
    color: #444863;
    font-weight: 600;
    border-radius: 15px;
    transition: .2s;
}

.list-view-folder:hover,
.list-view-note:hover {
    background-color: rgba(92, 125, 255, .3);
}

.content-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fill, 380px);
    overflow-y: scroll;
}

.content-view::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.content-view::-webkit-scrollbar-thumb {
    background-color: rgb(221 240 255);
    border-radius: 10px;
}

@media (max-width: 700px) {
    .wrapper {grid-template-columns: 70px 1fr}
}