.current-folder-name-container {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    width: -webkit-fill-available;
    background-color: var(--background);
}

.current-folder-name-container h2 {
    font-size: 40px;
    margin: 0px;
}

.current-folder-name-container h2,
.current-folder-name-container p {
    color: var(--text);
    font-family: Roboto;
} 

@media (max-width: 740px) {
    .no-content-container h2 {font-size: 30px;}
}