.note {
    cursor: pointer;
    height: 340px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 40, 109);
    display: grid;
    grid-template-rows: 40px 1fr 50px;
    margin: 20px;
    /* box-shadow: .5rem .4rem 1rem rgb(213, 226, 241); */
    transition: .5s;
    overflow: visible;
    border: 1px solid rgb(212, 212, 212);
}

.note-name-box {
    cursor: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.note-name-box h4 {
    width: 100%;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: #444863;
    border-bottom: 2px solid transparent;
    transition: .2s;
}

.note-content-box {
    padding: 10px;
    font-weight: 600;
    overflow: hidden;
    color: rgb(56, 56, 56);
}

.note-util-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: 0;
    transition: .2s;
    cursor: auto;
}

.note-util-bar:hover {
    opacity: 1;
}

.note-util-bar button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    color: #444863;
    transition: .3s;
}

.note-util-bar button:hover {
    background-color: rgba(92, 125, 255, .3);    
}

.update-note-btns-container {
    position: absolute;
    margin-left: auto;
    background-color: white;
    box-shadow: 0 0 20px rgb(213, 226, 241);
    width: 50px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    right: -19px;
    top: -18px;
    visibility: hidden;
}

.update-note-btns-container button {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: transparent;
}

.confirm-note-update-btn {
    margin-left: auto;
    margin-right: 3px;
}

.cancel-note-update-btn {
    margin-right: 3px;
}

.update-note-btns-container button:hover {
    background-color: rgba(92, 125, 255, .3);
}

.note-content-box p {
    font-size: 14px;
    cursor: pointer;
}

.note-content-box i {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: #444863;
    transition: .4s;
}

.note-content-box .paragraph {
    border-radius: 5px;
    background-color: rgba(239, 241, 247, .4);
    padding: 20px;
}

.note-content-box .paragraph p {
    margin: 3px;
 }

 .note-content-box hr {
    border: 1px dashed rgb(145 150 167);
 }