.notification-card {
    position: absolute;
    bottom: -100px;
    right: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    border: 1px solid #e9ebf4;
    height: 70px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 7px;
    box-shadow: 7px 5px 5px #dcdee6;
    transition: 300ms;
    z-index: 5;
}

.notification-card:hover {
    height: 80px;
}

.show-notification {
    bottom: 30px;
    right: 20px;
}

#notification-icon {
    color: #ffffff;
    font-size: 20px;
    background-color: #a9baff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
    margin-right: 10px;
}

.notification-message-title {
    font-weight: 600;
    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
}

.notification-message {
    margin: 5px 0;
    font-size: 14px;
    color: rgb(75, 80, 100);
    font-family: sans-serif
}