.projectCover {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: end;
    align-items: end;
    top: 100%;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0 3 24 / 50%);
    z-index: 1;
}