.settings-container {
    width: 380px;
    height: 150px;
    padding: 10px;
    background-color: var(--background);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 60px 1fr;
}

.settings-container-upper {
    display: flex;
    align-items: center;
    color: var(--text);
    border-bottom: 1px solid var(--border-sidebar-top);
}

.settings-container-lower {
    padding: 10px;
    display: flex;
    align-items: center;
}

.settings-container-lower span {
    font-size: 18px;
    color: var(--text);
}

.settings-container-lower span #theme-btn {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    rotate: 0deg;
}

.settings-container-lower span #theme-btn:hover {
    background-color: rgba(92, 125, 255, .3);
}