.sidebar {
    font-family: Roboto;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: var(--sidebar);
    border-right: 1px solid var(--border-sidebar-right);
}

.sidebar-logo {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--border-sidebar-top);
    padding: 5px 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 40px;
}

.logo {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 10px 15px 10px;
    color: aliceblue;
    font-weight: 600;
    background-color: #5c7dff;
}

.logo-text {
    color: #5c7dff;
    margin-left: 2px;
    font-weight: 600;
}

.collapse-sidebar-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -10px;
    border: none;
    background-color:#5c7dff;
    color: #ffff;
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 10px;
}

.sidebar-content-upper,
.sidebar-content-lower {
    display: block;
}

.sidebar-content button {
    cursor: pointer;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: var(--sidebar-text);
    font-family: Roboto;
    transition: .2s;
}

.sidebar-content button span {
    margin-left: 35px;
}

.sidebar-content button i {
    position: absolute;
    left: 5px;
}

.sidebar-content button:hover {
    background-color: var(--hover-sidebar);
    color: var(--sidebar-text-hover);
}