.top_bar {
    background-color: rgb(154, 191, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(158, 192, 255);
    margin: 20px 10px;
}

.top_bar .options_menu {
    width: 90%;
}

.top_bar .options_menu i {
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: .4s;
}

.top_bar .options_menu a {text-decoration: none}

.top_bar .options_menu i:hover {background-color: aliceblue;
    color: rgb(36, 40, 109);
    border-radius: 10px;
}