:root {
    --background: #ffffff; /*f4f5f7*/
    --notification: #ffffff;
    --editor: #ffffff;
    --editor-background: #f9f9f9;
    --editor-border: #dee1ef;
    --list-view: #ffffff; /*f4f5f7*/
    --list-view-icon: #ced2ea;
    --sidebar: #f4f5f7;
    --searchbar: #ffffff;
    --sidebar-text: #777c9f;
    --sidebar-text-hover: #ffffff;
    --sidebar-icon: #747aa0;
    --card: #ffffff; /*f4f5f7*/
    --text: #444863;
    --icon: #747aa0; /*495080*/
    --searchbar-icon: #ced2ea;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #eff1f7;
    --editor-text: #383838;
    --border-card: #dee1ef;
    --border-sidebar-right: #dee1ef; /*d4d4d4*/
    --border-sidebar-top: #f4f5f7; /*ffffff*/
    --border-main-top: #ffffff; /*f4f5f7*/
    --border-search-bar: #ffffff; /*d4d4d4*/
    --hover: rgba(92, 125, 255, .3); 
    --hover-list-view-buttons: #f4f5f7;
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-text-list-view: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --hover-sidebar: rgba(92, 125, 255, .3);
    --bookmark: #a9d7ff;
    --no-content: #aaabb4;
    --placeholder: #9093a2;
    --selection: #e8f0fe;
    --dialog: rgba(0, 3, 24, 0.30);
    --paragraph: rgba(239, 241, 250, .4);
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-notification: #dcdee6;
    --card-shadow: #e0e2ec;
}

.dark {
    --background: #1b1c22;
    --notification: #16171c;
    --editor: #16171c;
    --editor-background: #1f2129;
    --editor-border: #16171c;
    --list-view: #1b1c22;
    --list-view-icon: #d6d8e5;
    --sidebar: #16171c; 
    --searchbar: #252831;
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #ffffff; 
    --sidebar-icon: #d6d8e5;
    --card: #252831;
    --text: #bbbed2;
    --icon: #bbbed2;
    --icon-hover: #5c7dff;
    --important: #d6d8e5;
    --toolbar: #252831;
    --editor-text: #d5d9e0;
    --border-card: #1f2129;
    --border-sidebar-right: #16171c;
    --border-sidebar-top: #16171c;
    --border-main-top: #1b1c22;
    --border-search-bar: #1b1c22;
    --hover: #31343d; 
    --hover-list-view-buttons: #252831;
    --hover-searchbar-options: #31343d;
    --hover-text: #5c7dff;
    --hover-text-list-view: #5c7dff;
    --hover-toolbar-btns: #31343d;
    --hover-sidebar: #5c7dff;
    --bookmark: #303446;
    --no-content: #757789;
    --placeholder: #9093a2;
    --selection: #4481ea;
    --dialog: rgba(58, 64, 106, 0.15);
    --paragraph: #252831;
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-notification: #121216;
    --card-shadow: #1b1c22; /*16171c*/
}

.light {
    --background: #ffffff;
    --notification: #ffffff;
    --editor: #ffffff;
    --editor-background: #f9f9f9;
    --editor-border: #dee1ef;
    --list-view: #ffffff;
    --list-view-icon: #ced2ea;
    --searchbar: #ffffff;
    --sidebar: #f4f5f7;
    --sidebar-text: #777c9f;
    --sidebar-text-hover: #ffffff;
    --sidebar-icon: #747aa0;
    --card: #ffffff;
    --text: #444863;
    --icon: #747aa0;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #eff1f7;
    --editor-text: #383838;
    --border-card: #dee1ef;
    --border-sidebar-right: #dee1ef;
    --border-sidebar-top: #f4f5f7;
    --border-main-top: #ffffff;
    --border-search-bar: #ffffff;
    --hover: rgba(92, 125, 255, .3);
    --hover-list-view-buttons: #f4f5f7;
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-text-list-view: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --hover-sidebar: rgba(92, 125, 255, .3);
    --bookmark: #a9d7ff;
    --no-content: #aaabb4;
    --placeholder: #9093a2;
    --selection: #e8f0fe;
    --dialog: rgba(58, 64, 106, 0.15);
    --paragraph: rgba(239, 241, 250, .4); /*rgba(239, 241, 247, .4) original color*/
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-notification: #dcdee6;
    --card-shadow: #e0e2ec;
}