:root {
    --background: #ffffff;
    --list-view: #f9fbfd;
    --sidebar: #ffffff;
    --sidebar-text: #6d6d6d;
    --sidebar-text-hover: #6d6d6d;
    --card: #ffffff;
    --text: #444863;
    --icon: #444863;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #eff1f7;
    --editor-text: #383838;
    --sidebar: #ffffff;
    --border-card: #d4d4d4;
    --border-sidebar-right: #d4d4d4;
    --border-sidebar-top: #d4d4d4;
    --border-main-top: #d4d4d4;
    --border-search-bar: #d4d4d4;
    --hover: rgba(92, 125, 255, .3);
    --hover-text: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --bookmark: #f0f8ff;
    --no-content: #aaabb4;
    --placeholder: #9093a2;
    --selection: #e8f0fe;
    --dialog: rgba(0, 3, 24, 0.30);
    --paragraph: rgba(239, 241, 250, .4);
    --shadow: rgba(0, 0, 0, 0.1);
}

.dark {
    --background: #1b1c22;
    --list-view: #1b1c22;
    --sidebar: #16171c; 
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #5c7dff; 
    --card: #252831;
    --text: #bbbed2;
    --icon: #bbbed2;
    --icon-hover: #5c7dff;
    --important: #d6d8e5;
    --toolbar: #252831;
    --editor-text: #d5d9e0;
    --border-card: #1f2129;
    --border-sidebar-right: #16171c;
    --border-sidebar-top: #16171c;
    --border-main-top: #1b1c22;
    --border-search-bar: #191a1f;
    --hover: #31343d; 
    --hover-text: #5c7dff;
    --hover-toolbar-btns: #31343d;
    --bookmark: #303446;
    --no-content: #757789;
    --placeholder: #9093a2;
    --selection: #4481ea;
    --dialog: rgba(47, 49, 72, 0.30);
    --paragraph: #252831;
    --shadow: rgba(0, 0, 0, 0.1);
}

.light {
    --background: #ffffff;
    --list-view: #f9fbfd;
    --sidebar: #ffffff;
    --sidebar-text: #6d6d6d;
    --sidebar-text-hover: #6d6d6d;
    --card: #ffffff;
    --text: #444863;
    --icon: #444863;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #eff1f7;
    --editor-text: #383838;
    --sidebar: #ffffff;
    --border-card: #d4d4d4;
    --border-sidebar-right: #d4d4d4;
    --border-sidebar-top: #d4d4d4;
    --border-main-top: #d4d4d4;
    --border-search-bar: #d4d4d4;
    --hover: rgba(92, 125, 255, .3);
    --hover-text: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --bookmark: #f0f8ff;
    --no-content: #aaabb4;
    --placeholder: #9093a2;
    --selection: #e8f0fe;
    --dialog: rgba(0, 3, 24, 0.30);
    --paragraph: rgba(239, 241, 250, .4); /*rgba(239, 241, 247, .4) original color*/
    --shadow: rgba(0, 0, 0, 0.1);
}