.project-card {
    height: 240px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 40, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);
    transition: .4s;
    cursor: pointer;
}

.project-card i {margin-left: 5px;}