.editor-wrapper {
    position: absolute;
    top: 100%;
    visibility: hidden;
    display: grid;
    grid-template-rows: 110px 1fr;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--background);
}

.editor {
    outline: none;
    padding: 30px 70px;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    color: var(--editor-text);
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 3px;
}

.toolbar {
    display: grid;
    grid-template-rows: 1fr 50px;
}

.toolbar-top {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toolbar-bottom {
    background-color: var(--toolbar); 
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: visible;
}

/*Note details container*/

.note-details-container {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 230px;
    height: 280px;
    background-color: var(--background);
    border-radius: 15px;
}

.note-details-container h2 {
    color: var(--important);
}

 .note-details-container .details {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
 }

 .note-details-container .details p {
    font-weight: 600;
    margin: 35px 0;
    color: var(--text);
 }


 /* Styling for text editor html elements */

 .editor a {
    cursor: pointer;
    color: rgb(92, 125, 255);
 }

 .editor .paragraph {
    border-radius: 2px;
    border-left: 3px solid transparent;
    background-color: var(--paragraph);
    padding: 20px;
    transition: .2s;
 }

 .editor .paragraph:hover {
    border-color: #a3b5ff;
 }

 .editor iframe {
    border-radius: 10px;
    transition: .2s;
    width: 444px;
    height: 250px;
 }

 .editor iframe:hover {
    border-radius: 20px;
 }

 .editor .paragraph p {
    margin: 3px;
    min-height: 16px;
 }

 .insert-video-container {
    background-color: var(--toolbar);
    border-radius: 10px;
    padding: 7px;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .3s;
}

.insert-video-container input {
    cursor: pointer;
    outline: none;
    border: 2px solid #5c7dff;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    background-color: transparent;
    color: var(--text);
    width: -webkit-fill-available;
    font-size: 16px;
    transition: .3s;
}

.insert-video-container input:hover {
    background-color: var(--background);
}

.insert-video-container input::placeholder {
    color: var(--placeholder);
}

 .editor hr {
    border: 1px solid rgb(145 150 167);
 }