.editor-wrapper {
    position: absolute;
    top: 100%;
    visibility: hidden;
    display: grid;
    grid-template-rows: 110px 1fr;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--background);
}

.editor {
    outline: none;
    padding: 30px 70px;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    color: var(--editor-text);
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #cecece;
    border-radius: 3px;
}

.toolbar {
    display: grid;
    grid-template-rows: 1fr 50px;
}

.toolbar-top {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.toolbar-bottom {
    background-color: var(--toolbar); 
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: visible;
}

/*Note details container*/

.note-details-container {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 230px;
    height: 280px;
    background-color: var(--background);
    border-radius: 15px;
}

.note-details-container h2 {
    color: var(--important);
}

 .note-details-container .details {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
 }

 .note-details-container .details p {
    font-weight: 600;
    margin: 35px 0;
    color: var(--text);
 }


 /* Styling for text editor html elements */

 .editor a {
    cursor: pointer;
    color: rgb(92, 125, 255);
 }

 .editor .paragraph {
    border-radius: 5px;
    background-color: var(--paragraph);
    padding: 20px;
 }

 .editor .paragraph p {
    margin: 3px;
    min-height: 16px;
 }

 .copyable-block {
    border-radius: 5px;
    display: flex;
    height: 60px;
    width: 350px;
    flex-direction: column;
    background-color: rgb(39, 39, 44);
}

.copyable-block .top {
    display: flex;
    justify-content: end;
    padding: 5px 5px;
    font-size: 14px;
    color: aliceblue;
    font-weight: 600;
}

.copyable-block .top span {
    cursor: pointer;
}

.copyable-text {
    padding: 5px 20px;
    margin: 0;
    color: aliceblue;
}

 .editor hr {
    border: 1px solid rgb(145 150 167);
 }