.note-name-input {
    font-family: Roboto;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    width: 200px;
    padding: 5px 10px;
    font-weight: 600;
    transition: .2s;
}

.note-name-input:hover,
.note-name-input:focus {
    border-color: #5c7dff;
}
