
/*All the buttons in the bottom toolbar section*/

.toolbar-bottom button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #444863;
    width: 30px;
    height: 30px;
    margin: 3px 1px;
    border-radius: 5px;
    transition: .2s;
}

.toolbar-bottom button:hover {
    background-color: aliceblue;
}

/*Custom Heading dropdown menu.*/

.heading-dropdown {
    position: relative;
    overflow: visible;
}

.heading-dropdown input {
    cursor: pointer;
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    transition: .2s;
}

.heading-dropdown input:hover {
    background-color: aliceblue;
}

.heading-dropdown .options {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    top: 35px;
    border-radius: 7px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.heading-dropdown .options span {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 5px;
}

.heading-dropdown .options span:hover {
    background-color: rgb(221 240 255);
}

.heading-dropdown .options .heading-1 {font-size: 32px}
.heading-dropdown .options .heading-2 {font-size: 24px}
.heading-dropdown .options .heading-3 {font-size: 18.72px}
.heading-dropdown .options .heading-4 {font-size: 16px}
.heading-dropdown .options .heading-5 {font-size: 13.28px}
.heading-dropdown .options .heading-6 {font-size: 10.72px}


/*Custom font size selector*/
.font-size-input {
    cursor: pointer;
    outline: none;
    border: none;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    transition: .2s;
}

/*Fore ground color picker*/
.foreground-color-picker {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
}

.foreground-color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}