.toolbar-bottom .btn-container {
    display: flex;
}

.toolbar-bottom .btn-container button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--icon);
    width: 30px;
    height: 30px;
    margin: 3px 1px;
    border-radius: 10px;
    transition: .2s;
    font-family: Roboto;
}

.toolbar-bottom .btn-container button:hover {
    color: rgba(92, 125, 255);
    background-color: var(--hover-toolbar-btns);
}

.heading-dropdown {
    position: relative;
    overflow: visible;
}

.heading-dropdown .heading-button {
    font-family: Roboto;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--icon);
    width: 80px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: .2s;
}

.heading-dropdown .heading-button:hover {
    background-color: var(--hover-toolbar-btns);
    color: rgba(92, 125, 255);
}

.heading-dropdown .options {
    visibility: hidden;
    position: absolute;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    top: 45px;
    border-radius: 7px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.heading-dropdown .options button {
    font-family: Roboto;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--editor-text);
    width: 100%;
    height: auto;
    text-align: start;
}

.heading-dropdown .options button:hover {
    background-color: var(--hover);
}

.heading-dropdown .options .heading-1 {font-size: 32px}
.heading-dropdown .options .heading-2 {font-size: 24px}
.heading-dropdown .options .heading-3 {font-size: 18.72px}
.heading-dropdown .options .heading-4 {font-size: 16px}
.heading-dropdown .options .heading-5 {font-size: 13.28px}
.heading-dropdown .options .heading-6 {font-size: 10.72px}

/*Fore ground color picker*/

.color-picker {
    position: relative;
    width: fit-content;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    color: var(--icon);
  }

  .color-picker i {
    position: relative;
    bottom: 3px;
    font-size: 12px;
  }