* {
    font-family: sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  body {
    background-color: aliceblue;
  }

  .wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color:aliceblue;
    transition: .15s;
}

.project-info-container {
  padding: 20px 20px;
  overflow-y: scroll;
  position: relative;
}

.project-info-container::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.project-info-container::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}

.add-note-directory-to-project-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 40px;
  height: 40px;
  margin-top: 50px;
}

.add-note-directory-to-project-button i {
  margin-right: 10px;
}

.project-notes-container {
  min-height: 220px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  overflow: visible;
}
.add-project-note-directory-card button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  color: #669DFF;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #669DFF;
}

.project-note-directory-card,
.add-project-note-directory-card {
  cursor: pointer;
  margin: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #383a4d;
  border-radius: 10px;
  box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);
}

.scrum-image-container {
  height: fit-content;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrum-image-container img {
  width: 400px;
}