.delete-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--modal);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px var(--shadow);
  }
  
  .delete-modal .delete-warning {
    color: var(--text);
    font-size: 20px;
  }
  
  .delete-modal .deleted-item-name {
    color: var(--important);
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .delete-modal button {
    background-color: var(--searchbar);
    padding: 10px 30px;
    border-radius: 10px;
    color: var(--text);
    margin-top: 10px;
  }
  
  .delete-modal button:hover,
  .new-folder-container button:hover {
    color: #5c7dff;
  }