.note-link-modal {
    position: relative;
    height: 450px;
    width: fit-content;
    padding: 0 40px;
    border-radius: 5px;
    background-color: var(--background);
    font-family: Roboto;
}

.note-link-modal #link-icon {
    background-color: #5c7dff;
    color: white;
    padding: 25px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: -35px;
    right: -30px;
}

.linkable-notes-list {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: var(--searchbar);
    border: 1px solid var(--border-card);
    width: 300px;
    height: 225px;
    border-radius: 5px;
    overflow-y: auto;
}   

.linkable-notes-list li {
    font-family: Roboto;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    color: var(--editor-text);
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 150ms ease
}
.linkable-notes-list li:hover {
    background-color: var(--hover-searchbar-options);
    color: var(--hover-text);
}
.search-note-link-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-note-link-container input {
    outline: none;
    position: relative;
    margin: 10px 0;
    display: flex;
    background-color: var(--searchbar);
    border-radius: 5px;
    padding: 10px 10px;
    align-items: center;
    width: 300px;
    transition: 200ms;
    border: 1px solid var(--border-card);
}

.search-note-link-container i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--searchbar-icon);
}

.search-note-link-container button {
    cursor: pointer;
    border: none;
    width: 200px;
    margin-top: 20px;
    background-color: #5c7dff;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}