.new-collection-modal {
    position: relative;
    width: 650px;
    height: 450px;
    border-radius: 15px;
    background-color: var(--modal);
    padding: 20px;
}

.new-collection-modal h2 {
    font-family: sans-serif;
    color: var(--important);
}

.new-collection-modal div {
    display: flex;
    flex-direction: column;
    min-height: 350px;
}

.new-collection-modal input {
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--input-bg);
    padding: 5px 15px;
    font-size: 17px;
    color: var(--text);
    transition: 150ms;
    font-family: sans-serif;
}

.new-collection-modal textarea {
    resize: none;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: var(--text);
    border: 1px solid var(--border-card);
    background-color: transparent;
    border-radius: 10px;
    height: 220px;
    max-height: 220px;
    margin: 20px 0;
}

.new-collection-modal button {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background-color: transparent;
    color: #5c7fdd;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 7px;
}

.new-collection-modal button:hover {
    background-color: var(--hover);
}
