.create-deck-modal,
.edit-flashcard-modal {
    position: relative;
    background-color: var(--modal);
    font-family: Roboto;
    width: 700px;
    height: 600px;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.edit-flashcard-modal {
    height: 480px !important;
}

.create-deck-modal h2,
.edit-flashcard-modal h2 {
    font-family: sans-serif;
    color: var(--important);
}

.create-deck-modal input,
.edit-flashcard-modal input {
    border: none;
    height: 50px;
    border-radius: 10px;
    background-color: var(--input-bg);
    padding: 5px 15px;
    font-size: 17px;
    color: var(--text);
    font-family: sans-serif;
    transition: 150ms;
}

.deck-name-input {
    padding-left: 0 !important;
    font-size: 30px !important;
    border: none !important;
    background-color: transparent !important;
}



.create-deck-modal .card-description,
.edit-flashcard-modal .card-description {
    resize: none;
    outline: none;
    height: 220px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    color: var(--text);
    font-family: sans-serif;
    overflow-y: scroll;
    border: 1px solid var(--border-card);
}

.create-deck-modal .description-section,
.edit-flashcard-modal .description-section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.create-deck-modal .description-section button,
.edit-flashcard-modal .description-section button {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #979bb1;
    background-color: transparent;
    font-size: 20px;
}

.create-deck-modal .description-section button:hover,
.edit-flashcard-modal .description-section button:hover {
    color: #5c7fdd;
    background-color: var(--hover);
}

.create-deck-modal .save-deck-btn,
.edit-flashcard-modal .save-flashcard-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 7px;
    padding: 10px 20px;
    color: #5c7fdd;
    font-size: 16px;
}

.create-deck-modal .next-card-btn {
    position: absolute;
    top: 20px;
    right: 130px;
    background-color: transparent;
    color: #5c7fdd;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
}

.create-deck-modal .select-text-btn {
    font-size: 14px;
    width: fit-content !important;
}

.create-deck-modal .next-card-btn:hover,
.create-deck-modal .save-deck-btn:hover {
    background-color: var(--hover);
}

.create-deck-modal .card-count {
    position: absolute;
    top: 27px;
    right: 250px;
    font-family: sans-serif;
    font-size: 20px;
    color: var(--important);
}