.new-folder-container {
    position: relative;
    background-color: var(--modal);
    width: 350px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--shadow);
  }
  
  .new-folder-container h2 {
    position: absolute;
    top: 20px;
    color: var(--text);
    font-size: 32px;
    font-family: sans-serif;
  }
  
  .new-folder-container button {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--searchbar);
    color: var(--text);
    font-weight: 600;
  }

  .new-folder-container button:hover {
    color: #5c7dff;
  }
  
  .new-folder-container input {
    border: none;
    color: var(--text);
    background-color: transparent;
    border-bottom: 2px solid var(--text);
    padding: 10px;
    transition: .2s;
    font-size: 18px;
  }
  
  .new-folder-container input::placeholder {
    color: var(--placeholder);
  }
  
  .new-folder-container input:hover,
  .new-folder-container input:focus {
    border-color: #5c7dff;
  }