.note-details-container {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 350px;
    background-color: var(--modal);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--shadow);
}

.note-details-container h2 {
    color: var(--important);
    font-size: 32px;
    font-family: sans-serif;
}

 .note-details-container .details {
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
 }

 .note-details-container .details p {
    margin: 35px 0;
    color: var(--text);
    font-family: sans-serif;
 }