.note-details-modal {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 450px;
    height: 400px;
    background-color: var(--modal);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--shadow);
}

.note-details-modal h2 {
    color: var(--important);
    font-size: 32px;
    font-family: sans-serif;
}

.note-details-modal table {
    margin: 50px 0;
}

.note-details-modal td {
    padding: 10px 0;
}

.note-details-modal i {
    margin: 0 10px;
}

.note-details-modal .property {
    color: #c4c6da;
    font-weight: 600;
}

.note-details-modal .property-value {
    color: var(--text);
    font-weight: 600;
}