.sticky-note-modal {
    position: relative;
    background-color: var(--modal);
    font-family: Roboto;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sticky-note-modal h2 {
    font-family: sans-serif;
    font-size: 32px;
    color: var(--important);
}


.sticky-note-modal .name-input {
    border-radius: 10px;
    height: 50px;
}

.sticky-note-modal input,
.sticky-note-modal textarea {
    padding: 5px 15px;
    font-size: 17px;
    color: var(--text);
    font-family: sans-serif;
    background-color: transparent;
    border: 1px solid var(--border-card);
}

.sticky-note-modal input:hover,
.sticky-note-modal input:focus,
.sticky-note-modal textarea:hover,
.sticky-note-modal textarea:focus {
    border-color: #5c7fdd;
}


.sticky-note-modal .content-textarea {
    resize: none;
    height: 220px;
    border-radius: 10px;
}


.save-sticky-note-btn {
    position: absolute;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border-radius: 7px; 
    transition: .2s;
    color: #5c7fdd;
    background-color: transparent; 
}

.save-sticky-note-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover);
    transition: .2s;
}

.save-sticky-note-btn:hover::before {
    width: 100%;
}

.sticky-note-modal .delete-sticky-note-btn {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #5c7fdd;
    font-size: 16px;
    background-color: transparent;
}