* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color:aliceblue;
    transition: .15s;
}

.projectboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 20px;
    overflow-x: scroll;
}

.to-do-borad-section,
.doing-board-section,
.testing-board-section,
.done-board-section {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    min-width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  .5rem .4rem 1rem rgb(213, 226, 241);
}

.section-name-container {
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #282a36;
    border-radius: 10px 10px 0 0;
}

.section-name-container h4 {
    padding-left: 10px;
}

.task-count {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #669DFF;
    color: aliceblue;
    font-size: 15px;
}

.board-task-container {overflow-y: scroll}

.board-task-container::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.board-task-container::-webkit-scrollbar-thumb {
    background-color: #669DFF;
    border-radius: 3px;
}

.task {
    background-color: rgb(17, 25, 40);
    margin: 7px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #494c66;
    cursor: grab;
}

.task h5 {
    color: #669DFF;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5px;
}

.task h5:hover {text-decoration: underline}

.task p {
    color: aliceblue;
    font-size: 14px;
}

.add-task-card-button {
    margin: 0 7px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #282a36;
    border-top: 1px solid #ddd;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: transparent;
}

.add-task-card-button i {margin: 0 10px}