.folder {
    cursor: pointer;
    height: 340px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 40, 109);
    display: grid;
    grid-template-rows: 40px 1fr 50px;
    margin: 20px;
    box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);
    transition: .5s;
    overflow: visible;
}

.folder-name-box {
    cursor: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.update-folder-btns-container {
    position: absolute;
    margin-left: auto;
    background-color: white;
    box-shadow: 0px 7px 10px rgb(213, 226, 241);
    width: 50px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(213, 226, 241);
    right: -19px;
    top: -18px;
    visibility: hidden;
}

.update-folder-btns-container button {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: transparent;
}

.confirm-folder-update-btn {
    margin-left: auto;
    margin-right: 3px;
}

.cancel-folder-update-btn {
    margin-right: 3px;
}

.update-folder-btns-container button:hover {
    background-color: aliceblue;
}


.folder-logo {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.folder-logo i {
    color: #444863;
    font-size: 40px;
}

.folder-util-bar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: 0;
    transition: .2s;
    cursor: auto;
}

.folder-util-bar:hover {
    opacity: 1;
}

.folder-util-bar button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    color: #444863;
    transition: .3s;
}

.folder-util-bar button:hover {
    background-color: aliceblue;
}

.folder h4 {
    max-width: 75%;
    outline: none;
    padding: 5px;
    margin-left: 10px;
    color: #444863;
    font-weight: 500;
}