.sidebar {
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 20px;
    background-color: #669DFF;
    box-shadow: 0 0 10px 0 rgb(197, 197, 199);
}

.home-page-sidebar-notes-button,
.home-page-sidebar-projects-button,
.home-page-sidebar-bars-button,
.home-page-sidebar-settings-button {
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 35px;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    color: aliceblue;
    transition: .4s;
}

.home-page-sidebar-notes-button i,
.home-page-sidebar-projects-button i,
.home-page-sidebar-bars-button i,
.home-page-sidebar-settings-button i {
    position: absolute;
    left: 5px;
}

.home-page-sidebar-notes-button:hover,
.home-page-sidebar-projects-button:hover,
.home-page-sidebar-settings-button:hover {
    background-color: aliceblue;
    color: rgb(52, 52, 52);
}