.new-backlog-item-container {
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    width: 70vw;
    height: 100dvh;
    background-color: #fff;
    color: rgb(36, 40, 109);
    border-radius: 20px 0 0 20px;
    padding: 0 15px;
    overflow: visible;
}

.new-backlog-item-container-upper {
    display: flex;
    border-bottom: 2px solid #ddd;
}

.new-backlog-item-container-lower {
    display: grid;
    grid-template-columns: 1fr 150px;
    column-gap: 10px;
}

label {font-weight: bold;}

.backlog-item-name-input {
    border: none;
    width: 70%;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.backlog-item-description-textarea {
    outline: none;
    max-height: calc(100% - 40px);
    border-radius: 10px;
    border: 2px solid #669DFF;
    padding: 5px;
}

.edit-item-name-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #669DFF;
    cursor: pointer;
    margin-left: 5px;
}

textarea {
    resize: none;
    height: 190px;
}

.backlog-item-name-input:focus, textarea:focus {border-color: #669DFF}

.backlog-item-name-input:hover,
textarea:hover {border-color: #669DFF}

.add-backlog-item-button {
    position: absolute;
    bottom: -25px;
    left: 415px;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background-color: #669DFF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
}