.new-backlog-item-container {
    position: relative;
    padding: 0 15px;
    display: grid;
    grid-template-rows: 100px 1fr;
    width: 70vw;
    height: 100dvh;
    background-color: white;
    color: rgb(36, 40, 109);
    border-radius: 20px 0 0 20px;
    overflow: visible;
}

.new-backlog-item-container-upper {
    display: grid;
    grid-template-columns: 1fr 170px;
    column-gap: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.new-backlog-item-container-lower {
    display: grid;
    grid-template-columns: 1fr 170px;
    column-gap: 10px;
}

.new-backlog-item-container-lower-left {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.new-backlog-item-container-lower-right {
    padding-left: 10px;
    display: grid;
    grid-template-rows: 30px 30px 1fr 40px 60px;
    border-left: 1px solid #d3d3d3;
}

.new-backlog-item-container-lower-right label {
    color: #5c5c5c;
    margin-top: 6px;
}

.backlog-item-name-input {
    cursor: auto;
    outline: none;
    border: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin: auto 0;
    display: flex;
    height: 50px;
    font-size: 20px;
    background-color: white;
    color: #2f2f2f;
}

.backlog-item-name-input::placeholder {
    font-size: 16px;
}

.backlog-item-description-textarea {
    cursor: auto;
    resize: none;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    max-height: calc(100% - 40px);
    overflow-y: scroll;
    background-color: white;
    color: #2f2f2f;
}

.backlog-item-description-textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.backlog-item-description-textarea::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 5px;
}

.edit-item-name-button,
.edit-item-description-button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #669DFF;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin: auto 0 auto auto;
}

.delete-item-button {
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 7px 0;
    background-color: transparent;
    color: rgb(255, 93, 93);
    font-size: 16px;
    font-weight: 600;
    transition: .4s;
}

.delete-item-button:hover {
    background-color: rgb(255, 115, 115, .4);
    border-color: rgb(255, 93, 93);
}

.apply-changes-to-item-button {
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0 auto;
    width: fit-content;
    background-color: transparent;
    color: #5c5c5c;
    font-size: 16px;
}

.item-priority-input {
    outline: none;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: aliceblue;
}

.priority-choice-container {
    background-color: rgba(233, 245, 255);
    height: fit-content;
    border-radius: 10px;
    margin-top: 10px;
    visibility: visible;
}

.priority-choice-container div {
    padding: 10px 5px;
    border-radius: 5px;
    margin: 5px;
    color: #5c5c5c;
    transition: .15s;
    cursor: pointer;
}

.priority-choice-container div:hover {
    background-color: #669DFF;
    color: aliceblue;
}