.new-backlog-item-container {
    position: relative;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 15px 0;
    background-color: #fff;
    color: #383a4d;
    max-width: 485px;
    height: 440px;
    overflow: visible;
}

label {font-weight: bold;}

.backlog-item-name-input, textarea {
    outline: none;
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 0px;
    transition: .4s;
  }

textarea {
    resize: none;
    height: 190px;
    border-bottom: 2px solid rgb(123, 196, 255, .4);
}

.backlog-item-name-input {
    height: 30px;
    border-bottom: 2px solid rgb(123, 196, 255, .4);

}

.backlog-item-name-input:focus, textarea:focus {border-color: #669DFF}

.backlog-item-name-input:hover,
textarea:hover {border-color: #669DFF}

.priority-selection-container {
    padding: 0 70px 0px 0px;
}

.add-backlog-item-button {
    position: absolute;
    bottom: -17px;
    left: 460px;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    background-color: #669DFF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
}