.product-backlog-item {
    position: relative;
    margin: 20px 7px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 7px;
    background-color: #f3f3f3;
    color: #383a4d;
  }
  
  .product-backlog-item h3 { 
    cursor: pointer;
    width: fit-content;
  }

  .product-backlog-item h3:hover {
    color: #669DFF;
    text-decoration: underline;
  }

  .product-backlog-item p {
    font-size: 12px;
    margin-top: 10px;
  }