.product-backlog-item {
  position: relative;
  margin: 20px 7px;
  padding: 10px;
  display: grid;
  grid-template-rows: 20px 30px 1fr;
  border-radius: 7px;
  background-color: rgb(102, 158, 255, .2);
  color: rgb(98 117 151);
}

.product-backlog-item h3 { 
  cursor: pointer;
  width: fit-content;
}

.product-backlog-item h3:hover {
  color: #669DFF;
  text-decoration: underline;
}

.priority {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 600;
  background-color: transparent;
  color: transparent;
  width: fit-content;
}

.none {
  border-color: rgb(102, 158, 255);
  background-color: rgb(102, 158, 255, .2);
  color: #669DFF;
}

.low {
  border-color: rgb(130, 249, 145);
  background-color: rgb(130, 249,145, .2);
  color: rgb(130, 249, 145);
}

.medium {
  border-color: rgb(216, 249, 130);
  background-color: rgb(216, 249, 130, .2);
  color: rgb(216, 249, 130);
}

.high {
  border-color: rgb(249, 202, 130);
  background-color: rgb(249, 202, 130, .2);
  color: rgb(249, 202, 130);
}

.crucial {
  border-color: rgb(249, 130, 130);
  background-color: rgb(249, 130, 130, .2);
  color: rgb(249, 130, 130);
}

.product-backlog-item p {
  font-size: 12px;
  margin-top: 10px;
}