* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
}

.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color:aliceblue;
    transition: .15s;
}

.product-backlog-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    margin: 20px;
    overflow: visible;
}

.product-backlog {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);
    display: grid;
    grid-template-rows: 50px 1fr 50px;
  }
  
.name-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 15px;
    border-bottom: 1px solid #ddd;
    color: #212635;
}
  
.product-backlog-item-container {
    overflow-y: scroll;
}
  
.product-backlog-item-container::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}
  
.product-backlog-item-container::-webkit-scrollbar-thumb {
    background-color: #669DFF;
    border-radius: 3px;
}

img {
    width: 100%;
    margin: auto 0;
}

@media  (max-width: 750px){
    .product-backlog-container {
      grid-template-columns: 1fr;
    }
  
    img {
      scale: 0;
      visibility: hidden;
    }
  }