.flashcards-view {
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    font-family: Roboto;
    padding: 15px 5%;
    overflow-y: scroll;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.flashcards-view .flashcard-deck-container {
    display: grid;
    column-gap: 40px;
    row-gap: 25px;
    padding: 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 205px);
    overflow-y: scroll;
    overflow: visible;
}


.flashcards-view .deck-section {
    position: relative;
    max-height: 750px;
}

.flashcards-view .stats-section {
    display: flex;
    align-items: end;
    column-gap: 50px;
    background-color: var(--stats-background);
    padding: 20px;
    border-radius: 10px;
}


.flashcards-view .deck-section .continue-studying,
.flashcards-view .deck-progression-section p {
    font-family: sans-serif;
    color: #a4a8bb;
}


.create-deck-btn {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    color: #5c7fdd;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    top: 0;
    right: 10px;
}

.create-deck-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover);
    transition: .2s;
}

.create-deck-btn:hover::before {
    width: 100%;
}

.flashcards-view .stats-section p {
    font-weight: 600;
    font-size: 20px;
    color: var(--important);
}

.flashcards-view .stats-section p span {
    font-size: 25px;
    font-family: sans-serif;
    color: var(--stats-span-color);
}