flashcard-deck {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    box-shadow: var(--card-shadow);
    background-color: var(--card);
    height: 205px;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s;
}

flashcard-deck:hover {
    scale: 1.05;
    box-shadow: var(--card-shadow);
}

flashcard-deck .deck-name {
    font-weight: 600;
    font-family: sans-serif;
    color: var(--text) ;
    font-size: 18px;
}


flashcard-deck .details {
    position: relative;
    display: flex;
    flex-direction: column;
}


flashcard-deck .last-study-date {
    font-size: 14px;
    font-weight: 600;
    color: #a4a8bb;
} 

flashcard-deck .card-count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #a4a8bb;
    font-weight: 600;
}

flashcard-deck .card-count span {
    font-size: 20px;
    font-family: sans-serif;
}

flashcard-deck .progress {
    display: flex;
    margin-top: 20px;
    background-color: var(--progress-color);
    height: 5px;
    border-radius: 10px;
}

flashcard-deck .progress__fill {
    position: relative;
    background-color: #5c7fdd;
    border-radius: 10px;
}

flashcard-deck .progress__fill span {
    position: absolute;
    font-size: 13px;
    top: 10px;
    right: 0;
    background-color: var(--background);
    color: var(--text);
    border-radius: 50%;
    font-family: Roboto;
    font-weight: 600;
}

flashcard-deck .flashcard-options {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: 0;
    transition: 200ms;
    cursor: auto;
}

.flashcard-options:hover {
    opacity: 1;
}

flashcard-deck .flashcard-options i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

.flashcard-options i:hover {
    background-color: var(--hover);
    color: var(--icon-hover);
}