.flashcard-practice {
    height: 100dvh;
    max-height: 100dvh;
    font-family: Roboto;
    opacity: 0;
    transform: translateX(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.flashcard-home-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: var(--important);
    padding: 10px 15px;
    border-radius: 7px;
    transition: 150ms;
}

.flashcard-home-btn:hover {
    background-color: #f4f5f7;
}

.flashcard-practice .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 30px);
    padding: 15px;
}

.flashcard-practice .deck-section #previous-card-btn {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    left: -35px;
    top: 250px;
    font-size: 20px;
    color: var(--placeholder);
    cursor: pointer;
    transition: 150ms;
}

.flashcard-practice .deck-section #next-card-btn {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    right: -35px;
    top: 250px;
    font-size: 20px;
    color: var(--placeholder);
    cursor: pointer;
    transition: 150ms;
}

.flashcard-practice .deck-section #previous-card-btn:hover,
.flashcard-practice .deck-section #next-card-btn:hover,
.flashcard-practice .deck-section .button-bar i:hover {
    background-color: var(--hover);
    color: #5d7cff;
}

.flashcard-practice .deck-section h2 {
    font-family: sans-serif;
    color: var(--important);
}

.flashcard-practice .deck-section {
    position: relative;
    background-color: var(--background);
    width: 70%;
    min-width: 500px
}

.flashcard-practice .deck-section span {
    position: absolute;
    top: 25px;
    right: 20px;
    font-weight: 600;
    font-size: 15px;
    color: var(--important);
 }

.flashcard-practice .deck-section .flashcard {
    cursor: pointer;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: var(--modal);
    box-shadow: 0 0 10px var(--shadow-practice-card);
 }

 .flashcard-practice .deck-section .flashcard .flashcard-content {
    font-weight: 600;
    color: var(--text);
    padding: 0 25px;
    font-size: 20px;
    line-height: 1.4;
    font-family: sans-serif;
    max-width: 500px;
 }

.flashcard-practice .deck-section .progress {
    margin-top: 10px;
    margin: 25px 40px 0 40px;
    position: relative;
    height: 5px;
    background-color: var(--progress-color);
    border-radius: 5px;
    overflow: hidden;
}

.flashcard-practice .deck-section .progress .progress__fill {
    width: 0%;
    height: 100%;
    background-color: #5d7cff;
    transition: 150ms;
}

.flashcard-practice .deck-section .button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 10px 0;
    gap: 20px;
}


.flashcard-practice .deck-section .button-bar i {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon);
    transition: 150ms;
}


.flashcard-rating.correct-flashcard-rating {
    background-color: rgba(82, 255, 119, .1);
    border-color: rgb(82, 255, 119);
}

.flashcard-rating.wrong-flashcard-rating {
    background-color: rgba(255, 118, 118, .1);
    border-color: rgb(255, 118, 118);
}