.flashcards-view {
    height: 100dvh;
    max-height: 100dvh;
    font-family: Roboto;
    padding: 15px;
    overflow-y: scroll;
}

.flashcards-view .flashcard-deck-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 170px);
    overflow-y: scroll;
}

.flashcards-view h1 {
    font-family: sans-serif;
    color: var(--important);
}

.flashcards-view .flashcard-deck {
    cursor: pointer;
    border: 1px solid var(--border-card);
    background-color: var(--card);
    height: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease;
}

.flashcards-view .flashcard-deck .deck-name {
    font-weight: 600;
    font-family: sans-serif;
    color: var(--text);
    font-size: 16px;
}


.flashcards-view .flashcard-deck div {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


.flashcards-view .flashcard-deck .last-study-date {
    font-size: 14px;
    font-weight: 600;
    color: #a4a8bb;
} 

.flashcards-view .flashcard-deck .card-count {
    font-size: 14px;
    color: #a4a8bb;
    font-weight: 600;
    margin-left: 7px;
}

.flashcards-view .flashcard-deck .card-count span {
    font-size: 20px;
    font-family: sans-serif;
}

.flashcards-view .deck-section {
    position: relative;
    max-height: 750px;
}

.flashcards-view .stats-section {
    display: flex;
    align-items: end;
    column-gap: 50px;
}

.flashcards-view .deck-section h2 {
    font-family: sans-serif;
    color: var(--text);
    margin-bottom: 30px;
}

.flashcards-view .deck-section .continue-studying,
.flashcards-view .deck-progression-section p {
    font-family: sans-serif;
    color: #a4a8bb;
}

.flashcards-view .create-deck-btn {
    position: absolute;
    background-color: #5c7fdd;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    top: 0;
    right: 10px;
}

.flashcards-view .create-deck-btn:hover {
    background-color: #222428;
}

.flashcards-view .stats-section p {
    font-weight: 600;
    font-size: 20px;
    color: var(--important);
}

.flashcards-view .stats-section p span {
    font-size: 25px;
    font-family: sans-serif;
    color: var(--stats-span-color);
}

.flashcard-deck-progression-container {
    max-height: 500px;
    overflow-y: scroll;
}

.flashcards-view .flashcard-deck-progression {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    margin: 20px 0;
    border-radius: 7px;
    column-gap: 10px;
    border: 1px solid var(--border-card);
    background-color: var(--card);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease;
}

.flashcards-view .flashcard-deck-progression .deck-name {
    color: #a4a8bb;
    font-family: sans-serif;
}

.flashcards-view .flashcard-deck-progression .progress {
    position: relative;
    display: flex;
    width: 400px;
    min-width: 100px !important; 
    height: 7px;
    background-color: var(--progress-color);
    border-radius: 5px;
    overflow: hidden;
}

.flashcards-view .flashcard-deck-progression .progress .progress__fill {
    width: 0%;
    height: 100%;
    background: linear-gradient(90deg, rgba(92,127,221,1) 0%, rgba(227,238,255,1) 100%);
}

.flashcards-view .flashcard-deck-progression button {
    background-color: var(--background);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    color: var(--important);
    transition: 150ms;
}

.flashcards-view .flashcard-deck-progression button:hover {
    background-color: var(--hover);
    color: #5c7fdd;
}

.flashcards-view .deck-progression-section {
    font-family: Roboto;
    margin-bottom: 50px
}

.flashcards-view .deck-progression-section h2 {
    font-family: sans-serif;
    color: var(--important);
}