.flashcards-view {
    height: 100dvh;
    max-height: 100dvh;
    font-family: Roboto;
    padding: 15px;
}

.flashcards-view .flashcard-deck-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 170px);
    max-height: 500px;
    overflow-y: scroll;
}

.flashcards-view h1 {
    font-family: sans-serif;
    color: var(--important);
}

.flashcards-view .flashcard-deck {
    cursor: pointer;
    border: 1px solid var(--border-card);
    background-color: var(--card);
    height: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease;
}

.flashcards-view .flashcard-deck .deck-name {
    font-weight: 600;
    font-family: sans-serif;
    color: var(--text);
    font-size: 16px;
}

.flashcards-view .flashcard-deck .linked-note {
    color: var(--text);
    font-weight: 600;
    font-size: 14px;
}

.flashcards-view .not-linked {
    font-style: italic;
    color: #50545c !important;
}

.flashcards-view .flashcard-deck .linked-note i {
    margin-right: 10px;
}

.flashcards-view .flashcard-deck div {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


.flashcards-view .flashcard-deck .last-study-date {
    font-size: 14px;
    font-weight: 600;
    color: #a4a8bb;
} 

.flashcards-view .flashcard-deck .card-count {
    font-size: 14px;
    color: #a4a8bb;
    font-weight: 600;
    margin-left: 7px;
}

.flashcards-view .flashcard-deck .card-count span {
    font-size: 20px;
    font-family: sans-serif;
}

.flashcards-view .deck-section {
    position: relative;
}

.flashcards-view .stats-section {
    display: flex;
    align-items: end;
    column-gap: 20px;
}

.flashcards-view .deck-section h2 {
    font-family: sans-serif;
    color: var(--text);
    margin-bottom: 5px;
}

.flashcards-view .deck-section .continue-studying {
    font-family: sans-serif;
    color: #a4a8bb;
}

.flashcards-view .create-deck-btn {
    position: absolute;
    border: none;
    background-color: #5c7fdd;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    top: 0;
    right: 10px;
}

.flashcards-view .stats-section p {
    font-weight: 600;
    font-size: 20px;
    color: var(--important);
}

.flashcards-view .stats-section p span {
    font-size: 25px;
    font-family: sans-serif;
}