body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
}

::selection {
    background-color: var(--selection);
}

.wrapper {
    user-select: none;
    position: relative;
    max-width: 100dvw;
    max-height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: var(--background);
}


.home {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    padding: 15px;   
    overflow-y: scroll;
    height: calc(100dvh - 30px);
    max-height: calc(100dvh - 30px);
}

.home .center {
    width: 70%;
}


.welcome-container {
    overflow: hidden;
    padding: 10px 20px;
}

.welcome-container h1 {
    font-family: sans-serif;
    color: var(--important);
    font-size: 40px;
}

.welcome-container h1 span {
    color: #5c7fdd;
}

.welcome-container p {
    font-weight: 600;
    color: var(--text);
    transition: transform 0.5s, opacity 0.5s;
    position: relative;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}
.slide-in {
    animation: slideIn 0.5s forwards;
}


.flashcards-container {
    padding: 10px 20px;
    background-color: var(--background);
    border-top: 1px solid var(--border-card);
}

.flashcards-container h3 {
    font-family: sans-serif;
    color: var(--important);
}

.flashcards-container p {
    font-family: sans-serif;
    color: #7f8085;
}

.flashcards {
    display: block;
    gap: 15px;
    overflow-x: scroll;
    padding: 0 15px;
}

.flashcard {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: var(--card);
    color: var(--text);
    padding: 10px;
    border-radius: 7px;    
    transition: 250ms;
}

.flashcard:hover {
    background-color: #f6f7ff;
}

.flashcard .rating {color: #c1c2ca;}

.flashcard .rating .good {
    color: rgb(98, 233, 127);
    font-weight: 600;
    font-size: 16px;
}
.flashcard .rating .wrong {
    color: rgb(248, 125, 125);
    font-weight: 600;
    font-size: 16px;
}


.recently-container {
    margin-top: 25px;
    color: var(--text);
    padding: 10px 20px;
    background-color: var(--background);
    border-top: 1px solid var(--border-card);
}


.recently-container h3 {
    color: var(--important);
    font-family: sans-serif;
}

.recently-container p {
    font-family: sans-serif;
    color: #7f8085;
}

.documents {
    max-height: 200px;
}

.document {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: 150ms;
    font-family: sans-serif;
    color: var(--text);
    font-size: 14px;
    background-color: var(--background);
}

.document .time {
    color: #c1c2ca;
}

.document:hover {
    background-color: #f6f7ff;
}