.home {
    display: grid; 
    grid-template-rows: 50px 1fr;
    font-family: Roboto;
    padding: 15px 5%;   
    height: 100dvh;
    max-height: 100dvh;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.home .top {
    position: relative;
    display: flex;
    justify-content: center;
}

.home .middle {
    padding: 10px;
    outline: none;
    overflow-y: scroll;
}

.home .view-title {
    position: relative;
    margin: 50px 0;
    color: #5c7dff;
}


.home .middle .block-title {
    font-family: sans-serif;
    color: var(--subtitle);
    margin-top: 20px;
    font-size: 20px;
    padding: 20px 0;
}


.home .recent-folders {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 50px);
    gap: 20px;
}

.home .recent-folder {
    cursor: pointer;
    border: 1px solid var(--border-card);
    height: 50px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--card);
    border-radius: 10px;
    color: var(--icon);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

.home .recent-folder:hover {
    scale: 1.05;

}

.home .recent-folder i {
    margin-right: 10px;
    font-size: 18px;
}

.home .recent-notes {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fill, 280px);
    gap: 40px;
    margin-bottom: 50px;
}

.home .recent-notes .recent-note {
    user-select: none;
    cursor: pointer;
    min-height: 280px;
    max-height: 280px;
    border-radius: 15px;
    background-color: var(--card);
    border: 1px solid var(--border-card);
    display: grid;
    grid-template-rows: 40px 1fr;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

.home .recent-notes .recent-note:hover {
    scale: 1.05;
}

.flashcard-decks {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 150px);
    gap: 20px;
}

.home .flashcard-deck {
    transition: scale .2s ease;
}

.home .flashcard-deck:hover {
    scale: 1.05;
}
