.notes {
    outline: none;
    height: 100dvh;
    max-height: 100dvh;
    font-family: Roboto;
    display: grid;
    grid-template-rows: 60px 1fr;
    padding: 0 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.notes-top {
    position: relative;;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.current-folder-name-container button {
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: var(--text);
    background-color:transparent; 
}

.current-folder-name-container button::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5c7fdd;
    transition: .3s;
}

.current-folder-name-container button:hover::before {
    width: 100%;
}

.exit-folder-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    background-color: transparent;
    color: var(--important);
    padding: 10px 15px;
    border-radius: 7px;
}

.exit-folder-btn:hover {
    background-color: var(--exit-btn);
}

.current-folder-name-container {
    display: block;
    align-items: center;
    padding: 5px 10px;
    margin: 15px 10px 15px 10px;
    color: var(--text);
}

.current-folder-name-container div {
    display: flex;
    column-gap: 10px;
    padding-top: 10px;
}

.current-folder-name-container h1 {
    display: flex;
    height: fit-content;
    margin: 0px;
    color: var(--text)
}

.content-folder-view {
    position: relative;
}

.content-view {
    outline: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 320px);
    height: calc(100dvh - 180px);
    max-height: calc(100dvh - 180px);
    overflow-y: scroll;
    padding-bottom: 20px;
}

@media screen and (max-width: 700px ) {
    .current-folder-name-container h1 {
        font-size: 40px;
    }
}