.notebook-home-view {
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    font-family: Roboto;
    padding: 0 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.notebook-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notebook-description {
    font-family: sans-serif;
    color: var(--text);
    max-width: 600px;
    margin: 0;
    padding: 20px 0 50px 0;
} 

.notebook-bottom {
    max-height: calc(100dvh - 97px);
    overflow-y: scroll;
}

.notebook-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding-bottom: 50px;
}

.notebook-items {
    padding: 0 20px;
}

.item {
    padding: 10px;
    display: grid;
    font-family: sans-serif;
    color: var(--text);
    grid-template-columns: 1fr 50px;
    background-color: var(--card);
    border-bottom: 1px solid var(--item-border);
    transition: 150ms;
}

.item:hover {
    scale: 1.03;
    background-color: var(--list-item-hover);
}

.item-info {
    display: flex;
    column-gap: 20px;
}

.item-info  {
    display: flex;
    align-content: center;
}

.item-options {
    opacity: 0;
    transition: 150ms;
}

.item-options:hover {
    opacity: 1;
}

.item-options i {
    cursor: pointer;
    color: var(--placeholder);
}

.item i {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item span {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.item span:hover {
    color: #5c7fdd;
}





#notebook-note-icon {
    color: #87adff;
}

#notebook-folder-icon {
    color: rgb(162, 152, 255);
}

#notebook-template-icon {
    color: rgb(57, 219, 138);
}

#notebook-flashcard-icon {
    color: rgb(255, 124, 124);
}

#notebook-taskboard-icon {
    color: rgb(255, 198, 111);
}