.settings {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    padding: 15px;   
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    opacity: 0;
    transform: translateX(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.settings .center {
    width: 50%;
}

.settings-container {
    margin-top: 50px;
}


.settings-container h3 {
    font-size: 27px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: var(--important);
}

.settings-container p {
    margin-top: 0;
    color: var(--important);
    font-family: sans-serif;
}

.theme-dropdown,
.sidebar-color-dropdown {
    position: relative;
    border-radius: 5px;
    background-color: var(--setting-dropdown);
    width: 350px;
}


.theme-dropdown input,
.sidebar-color-dropdown input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--text);
    padding: 10px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
}