.task-board-view {
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 5%;
    padding-bottom: 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.task-board-view p {
    margin: 0;
}

.exit-taskboard-btn {
    position: absolute;
    left: calc(5% - 10px);
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 7px;
    color: var(--important);
    width: fit-content;
}

.exit-taskboard-btn:hover {
    background-color: var(--exit-btn);
}

.task-board-view h1 {
    font-family: sans-serif;
    color: var(--important);
    margin-top: 60px;
}

.task-board-view .task-board-description {
    font-family: sans-serif;
    color: var(--text);
    max-width: 500px;
    margin: 0 0 20px 0;
    padding: 20px;
    border-radius: 10px;
}

.task-board {
    display: grid;
    grid-template-rows: 40px 1fr;
    row-gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.task-board section {
    border-radius: 7px;
}


.filter-by-date-btn,
.add-task-btn {
    font-size: 16px;
    background-color: transparent;
    color: var(--text);
}

.board {
    display: flex;
    align-items: start;
    min-height: 200px;
    column-gap: 10px;
}

.board section {
    width: 33%;
    min-height: 150px;
    max-height: fit-content;
    box-shadow: var(--card-shadow);
    background-color: var(--board-section);
}

.board section .tasks {
    margin: 0 7px 7px 7px;
    border: 2px solid transparent;
    border-radius: 5px;
    min-height: 150px;
    padding-bottom: 30px;
}

.board-section-name {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}

.board-section-name p {
    padding: 2px 7px;
    border-radius: 10px;
}


.board .todo .board-section-name {
    color: #9c34ff;
}

.board .todo .board-section-name p {
    background-color: #e6d3ff;
}

.board .inprogress .board-section-name {
    color: #5c7dff;
}

.board .inprogress .board-section-name p {
    background-color: #d7e8ff;
}

.board .done .board-section-name {
    color: #00b500;
}

.board .done .board-section-name p {
    background-color: #d2ffd2;
}


.task {
    cursor: pointer;
    background-color: var(--task);
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px 10px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.task i {
    margin-right: 10px;
}

.task h3 {
    font-family: sans-serif;
    color: var(--important);
    margin-top: 0;
}

.task p {
    font-family: sans-serif;
    font-size: 14px;
    color: var(--text);
    margin: 10px 0;
    width: fit-content;
    background-color: var(--due-date);
    padding: 5px;
    border-radius: 5px;
}
