.task-board-home-view {
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.task-board-home-view p {
    font-weight: 600;
    color: var(--text);
    margin: 0 0 50px 0px;
}

.task-boards {
    display: grid;
    grid-template-rows: 40px 1fr;
    row-gap: 10px;
}

.task-board-card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    transition: 150ms;
    border-radius: 7px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

.task-board-card:hover {
    scale: 1.02;
    background-color: var(--taskboard-card);
}

.task-board-card div {
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    opacity: 0;
    transition: 150ms;
}

.task-board-card div:hover {
    opacity: 1;
}

.task-board-card h3 {
    color: var(--important);
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.task-board-card button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

.task-board-card button:hover {
    background-color: var(--hover);
    color: var(--icon-hover);  
}

.task-boards .util-bar-type-2 button {
    font-size: 16px;
    background-color: transparent;
    color: var(--text);
    padding: 5px 10px;
}

.task-board-cards {
    max-height: 500px;
    overflow-y: scroll;
    padding: 10px 40px ;
}