.templates {
    font-family: Roboto;
    padding: 15px;   
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: scroll;
}

.templates h1 {
    font-family: sans-serif;
    color: var(--important);
}

.templates h2 {
    font-family: sans-serif;
    color: var(--important);
    margin-bottom: 30px;
}

.templates .stats-section {
    display: flex;
    align-items: end;
    column-gap: 50px;
}

.templates .stats-section p {
    font-weight: 600;
    font-size: 20px;
    color: var(--important);
}

.templates .stats-section p span {
    font-size: 25px;
    font-family: sans-serif;
    color: var(--stats-span-color);
}

.templates .recent-section {
    position: relative;
    max-height: 750px;
}


.add-template-btn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 10px;
    border-radius: 7px; 
    transition: 200ms;
    color: white;
    background-color: #5c7fdd; 
}

.add-template-btn i {
    margin-right: 5px;
}

.add-template-btn:hover {
    background-color: #4371f0;
    color: white;
}

.templates .bottom h2 {
    font-family: sans-serif;
    color: var(--important);
}

.recent-templates,
.other-templates {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 320px);
}