.add_todo_list_box {
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px;
    height: 115px;
    margin: 0 20px;
    box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);

}

.add_btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: rgb(158, 192, 255);
    border: 2px solid rgb(158, 192, 255);
    transition: .4s;
}

.add_btn:hover {
    background-color: rgb(158, 192, 255);
    color: #fff;
}