.todo_list_box {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    margin: 0 20px;
    border-radius: 10px;
    transition: .4s;
    box-shadow: .5rem .4rem 1rem rgb(213, 226, 241);

}

.todo_list_box:hover {
    margin: 0;
    color: #fff;
    background-color: rgb(158, 192, 255);;
}

.todo_list_box:hover .info_box {color: #fff}
.todo_list_box:hover .info_box p {color: #fff;}
.todo_list_box:hover .title_box {color: #fff}
.todo_list_box:hover .chart_container {
    background-color: #fff;
    box-shadow: none
}

.info_box {
    font-weight: 500;
    color: rgb(36, 36, 36);
    padding: 5px;
}

.info_box p {
    color: #3f6777;
    font-size: 13px;
    overflow: visible;
}

.title_box {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(158, 192, 255);
    transition: .4s;
}

.info_box h3 {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 15px;
}

