
.todo_list_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    background-color: #fff;
    display: grid;
    grid-template-rows: 50px 60px 1fr 50px;
}

.todo_list_card h2 {
    display: flex;
    align-items: center;
    color: rgb(158, 192, 255);
    margin-left: 25px;
}

.todo_input_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.todo_input_box input {
    outline: none;
    border: none;
    box-sizing: border-box;
    background-color: rgb(243, 243, 243);
    color: #535353;
    width: 400px;
    height: 45px;
    border-radius: 30px;
    padding: 10px 40px 10px 20px;
}

.todo_input_box button {
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    background-color: rgb(158, 192, 255);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    right: 35px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url("../../img/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background: url("../../img/checked.png");
}

ul li span {
    position: absolute;
    right: 0;
    top: 8px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
        text-align: center;
}
