previous-view-button {
    cursor: pointer;
    position: absolute;
    left: calc(5% - 10px);
    background-color: transparent;
    padding: 10px 15px;
    font-size: 25px;
    border-radius: 15px;
    color: var(--important);
    width: fit-content;
    z-index: 2;
}

previous-view-button:hover {
    background-color: var(--exit-btn);
}