.background-color-picker,
.foreground-color-picker {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--toolbar-btn-text);
    width: 30px;
    height: 30px;
    margin: 3px 1px;
    border-radius: 10px;
    transition: .2s;
    font-family: Roboto;
}

.background-color-picker:hover,
.foreground-color-picker:hover {
    color: rgba(92, 125, 255);
    background-color: var(--hover-toolbar-btns);
}

.foreground-color-palette,
.background-color-palette {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 25px;
    top: 55px;
    right: 10px;
    border-radius: 10px;
    background-color: var(--card);
    box-shadow: 0 5px 20px var(--shadow);
    transition: 100ms;
}

.background-color-palette {
    top: 53px;
}

.foreground-color-palette h3,
.background-color-palette h3 {
    margin: 5px 0;
    font-family: Roboto;
    color: var(--text);
}

.nature-colors,
.sunset-colors,
.neon-colors,
.text-colors{
    display: flex;
}

.nature-colors button,
.sunset-colors button,
.neon-colors button,
.text-colors button {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px 2px;
}

.background-color-palette .nature-colors > button:last-child,
.background-color-palette .sunset-colors > button:last-child,
.background-color-palette .neon-colors > button:last-child,
.background-color-palette .text-colors > button:last-child {
    border-radius: 5px;
    margin-left: 5px;
}

.foreground-color-palette .nature-colors > button:last-child,
.foreground-color-palette .sunset-colors > button:last-child,
.foreground-color-palette .neon-colors > button:last-child,
.foreground-color-palette .text-colors > button:last-child {
    border-radius: 5px;
    margin-left: 5px;
}