/*Rich Text Options Container*/

.rich-text-option-container {
    user-select: none;
    position: absolute;
    bottom: -80px;
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: var(--dropdown);
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid var(--border-sidebar-right);
    opacity: 0;
    transition: 150ms;
}

.btn-group {
    display: flex;
    padding: 0px 10px;
}

.btn-group button {
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--editor-text);
}

.btn-group button:hover {
    color: #5c7dff;
    background-color: var(--hover);
}

.active-text-format {
    background-color: var(--hover);
    color: #5c7dff;
}

.color-dropdown {
    position: relative;
}

.color-dropdown ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 7px;
    list-style: none;
    background-color: var(--dropdown);
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 10px;
    margin: 0;
    padding: 15px;
    transition: 150ms;
}

.color-dropdown ul li {
    cursor: pointer;
    border-radius: 7px;
    color: var(--text);
    font-family: sans-serif;
    width: 30px;
    height: 30px;
}




/*Forward Slash Command Container*/

.foreward-slash-command-container {
    user-select: none;
    position: absolute;
    bottom: -300px;
    display: grid;
    grid-template-rows: 30px 1fr;
    border-radius: 10px;
    border: 1px solid var(--border-sidebar-right);
    width: fit-content;
    padding: 20px;
    row-gap: 10px;
    max-height: 300px;
    background-color: var(--dropdown);
    opacity: 0;
    transition: 150ms;
}

.foreward-slash-command-container input {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    background-color: var(--dropdown);
    color: var(--editor-text);
}

.foreward-slash-command-container .commands {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    row-gap: 5px;
}

.foreward-slash-command-container .commands::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.foreward-slash-command-container .commands::-webkit-scrollbar-thumb {
    background-color: #cfd2e3;
    border-radius: 10px;
}

.foreward-slash-command-container .commands::-webkit-scrollbar-thumb:active {
  background-color: #bbbed4;
}

.foreward-slash-command-container .commands div {
    cursor: pointer;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 40px 1fr;
    color: var(--editor-text);
    font-family: sans-serif;
    transition: 50ms;
}

.foreward-slash-command-container .commands div:hover {
    background-color: var(--hover-slash-command);
}

.foreward-slash-command-container i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--hover-toolbar-btns);
    color: #8fa5ff;
}