.editor-wrapper {
   user-select: none;
   position: absolute;
   display: grid;
   grid-template-rows: 120px 1fr;
   height: 100dvh;
   width: 100dvw;
   background-color: var(--editor);
   top: 100%;
   visibility: hidden;
}

.editor {
   position: relative;
   display: flex;
   justify-content: center;
   max-height: calc(100dvh - 120px);
   overflow-y: scroll;
}

.editor-paper {
   border-radius: 5px;
   position: relative;
   width: 50%;
   height: fit-content; /*calc(100% - 120px)*/
   min-height: 800px;
   min-width: 600px;
   max-width: 650px;
   outline: none;
   cursor: text;
   overflow-x: hidden;
   font-size: 11pt;
   font-family: sans-serif;
   background-color: var(--background);
   color: var(--editor-text);
   padding-bottom: 40px;
}

.toolbar {
   display: grid;
   grid-template-rows: 30px 1fr;
   padding: 10px;
}

.toolbar-top {
   display: flex;
   align-items: center;
   position: relative;
}

.toolbar-bottom {
   display: flex;
   justify-content: center;
}


 /* Styling for text editor html elements */

 .editor a {
    cursor: pointer;
    color: rgb(92, 125, 255);
 }

 .editor iframe {
    border-radius: 20px;
    transition: .2s;
    width: 444px;
    height: 250px;
 }

 .editor .paragraph p {
    min-height: 16px;
    margin: 5px 0;
 }

.embed-container {
   position: relative;
   background-color: var(--editor-container);
   border-radius: 5px;
   padding: 15px;
   border: 1px solid var(--border-card);
   width: fit-content;
}

.embed-link-input {
   cursor: text;
   outline: none;
   border: none;
   border-bottom: 2px solid var(--editor-border);
   padding: 5px;
   margin: 10px 0;
   padding-left: 25px;
   background-color: transparent;
   color: var(--text);
   font-size: 16px;
   transition: .3s;
}

.embed-link-input:hover,
.embed-link-input:focus {
   border-color: #5c7dff;
}

.cancel-embed-video-btn,
.cancel-link-btn {
   position: absolute;
   top: -10px;
   left: -10px;
   background-color: #5c7dff;
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 50%;
   width: 25px;
   height: 25px;
}

.link-container {
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: var(--editor-container);
   border-radius: 5px;
   padding: 15px;
   border: 1px solid var(--border-card);
   width: fit-content;
}

.original-link-input,
.custom-link-input {
   cursor: text;
   width: 270px;
   outline: none;
   border: none;
   border-bottom: 2px solid var(--editor-border);
   padding: 5px;
   margin: 10px 0;
   padding-left: 25px;
   background-color: transparent;
   color: var(--text);
   font-size: 16px;
   transition: .3s;
}

.original-link-input:hover,
.original-link-input:focus,
.custom-link-input:hover,
.custom-link-input:focus {
   border-color: #5c7dff;
}

.original-link-input::placeholder,
.custom-link-input::placeholder {
   color: var(--placeholder);
}

.save-link-btn {
   background-color: #5c7dff;
   border: none;
   color: white;
   border-radius: 7px;
   height: 30px;
   width: 90px;
   font-size: 16px;
   transition: 200ms;
}

.save-link-btn:hover {
   background-color: #3d64fd;
}

.cancel-embed-video-btn:hover {
   background-color: #3d64fd;
}

.embed-container input::placeholder {
   color: var(--placeholder);
}

.linked-note-container {
   font-family: Roboto;
   background-color: var(--editor-container);
   padding: 10px 15px;
   margin: 20px 0;
   max-width: 275px;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
   display: grid;
   grid-template-columns: 35px 1fr;
   border: 1px solid var(--border-card);
   transition: 200ms;
 }

 .linked-note-container:hover  {
   border-color: #5c7dff;
 }

 .linked-note-name {
   display: flex;
   align-items: center;
   margin-left: 5px;
   font-weight: 600;
   font-size: 16px;
   transition: 150ms;
   color: var(--text);
 } 

 .linked-note-container .fa-regular {
   font-size: 30px;
   color: var(--text);
   padding: 7px 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .linked-note-container .fa-solid {
   position: absolute;
   top: -15px;
   right: -15px;
   padding: 10px;
   background-color: #5c7dff;
   color: white;
   border-radius: 50%;
 }

 .editor hr {
   border-style: none;
   border-radius: 5px;
   border: 1px solid var(--editor-text);
 }

 .editor img {
    margin: 10px 0;
    max-width: 600px;
    border-radius: 10px;
 }

 .editor h2 {
    margin: 30px 0 7px 0;
 }

 .editor h3 {
    margin: 20px 0 7px 0;
 }

 .editor h4 {
    margin: 10px 0 7px 0;
 }

 .editor h5,
 .editor h6 {
    margin: 0;
 }

 .editor a {
   color: rgb(67, 142, 255);
 }

 .editor code {
   cursor: pointer;
   background-color: var(--code-snippit-background);
   border-radius: 3px;
   color: var(--code-snippet-color);
   font-family: courier, monospace;
   padding: 0 3px;
 }

 .no-pointer {
   pointer-events: none;
}