.editor-paper .important-block,
.note-content-box .important-block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--important-background-color);
    width: fit-content;
    color: var(--important-text-color);
    border-radius: 5px;
    font-size: 17px;
}

.editor-paper .important-block i,
.note-content-box .important-block i {
    background-color: var(--important-icon-color);
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--important-text-color);
}

.editor-paper .copyable-block i,
.note-content-box .copyable-block i {
    background-color: var(--copy-icon-color);
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--copy-icon-text-color);
}

.editor-paper .copyable-block,
.note-content-box .copyable-block {
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    font-family: sans-serif;
    background-color: var(--copy-background-color);
    border-radius: 5px;
    color: var(--copy-text-color);
    cursor: pointer;
    transition: 100ms;
}

.editor-paper .copyable-block:hover {
    color: var(--copy-text-color-hover);
}

.editor-paper .quote-block,
.note-content-box .quote-block {
    display: flex;
    padding: 20px;
    color: var(--important);
    border-left: 4px solid #5c7fdd;
}


.editor-paper .date-time-block,
.note-content-box .date-time-block {
    font-size: 28px;
    font-family: Roboto;
    width: fit-content;
    padding: 5px;
    border-bottom: 2px solid #5c7fdd;
    font-weight: 600;
}

.editor-paper .date-time-block h2,
.note-content-box .date-time-block h2 {
    margin: 10px;
}

.editor-paper .date-time-block span,
.note-content-box .date-time-block span {
    font-size: 16px;
}
