.toolbar-bottom .btn-container {
    display: flex;
}

.toolbar-bottom .btn-container button {
    background-color: transparent;
    color: var(--toolbar-btn-text);
    width: 30px;
    height: 30px;
    margin: 3px 1px;
    border-radius: 10px;
    font-family: Roboto;
}

.active-toolbar-btn {
    color: rgba(92, 125, 255) !important;
    background-color: var(--hover-toolbar-btns) !important;
}