.toolbar-top i  {
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} 

.document-location {
    margin-left: 30px;
    color: var(--editor-text);
    font-family: sans-serif;
    font-size: 14px;
}

.save-note-btn {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 3px;
    color: var(--editor-text);
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 7px;
    transition: 150ms;
}

#editor-search-btn {
    position: absolute;
    right: 10px;
    top: 45px;
    color: var(--placeholder);
    transition: 150ms;
}

#editor-search-btn:hover {
    background-color: #a0b3ffa1;
    color: #819aff;
}

#editor-template-btn {
    position: absolute;
    right: 10px;
    top: 80px;
    color: var(--placeholder);
    transition: 150ms;
}

#editor-template-btn:hover {
    background-color: #ffd17d8a;
    color: #ffc14f;
}

.editor-options-dropdown {
    overflow: visible;
    transition: 200ms;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
    transition: 150ms;
}

.editor-options-dropdown .options {
    font-family: Roboto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: var(--editor-dropdown);
    display: flex;
    flex-direction: column;
    width: 140px;
    right: 10px;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    transition: 100ms;
    box-shadow: 0px 5px 15px var(--shadow);
    z-index: 2;
}

.editor-options-dropdown .options button {
    font-family: Roboto;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--editor-text);
    background-color: transparent;
    border: none;
    transition: background-color 100ms ease;
    text-align: start;
}

.editor-options-dropdown .options i {
    margin: 0 5px;
}

.editor-options-dropdown button:hover {
    background-color: var(--hover);
    color: #5c7dff;
}

.templates-dropdown .options {
    position: absolute;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow);
    width: 250px;
    max-height: 350px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 90px;
    right: 50px;
    visibility: hidden;
    opacity: 0;
}

.templates-dropdown .options span {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--important);
    margin-bottom: 10px;
}

.templates-container {
    list-style-type: circle;;
    overflow-y: scroll;
    border-left: 2px solid #5c7fdd;
    list-style: circle;
}

.templates-container li {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 7px;
    color: var(--text);
    transition: 150ms;
}

.templates-container li:hover {
    background-color: var(--hover);
    color: #5c7fdd;
}

.save-note-btn:hover,
#editor-options-btn:hover,
#exit-editor-btn:hover {
    background-color: var(--hover-toolbar-btns);
    color: #5c7dff;
}

.note-name-input {
    outline: none;
    border: none;
    padding: 0 10px;
    height: 100%;
    min-width: 700px;
    font-weight: 600;
    font-size: 25px;
    background-color: var(--background);
    color: var(--important);
    }

.note-name-input::placeholder {
    color: var(--placeholder);
}

