.note-name-input {
    position: relative;
    font-family: Roboto;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    min-width: 200px;
    width: 400px;
    height: 25px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 18px;
    color: var(--editor-text-top);
    transition: 200ms ease-in-out;
}

.note-name-input::placeholder {
    color: var(--placeholder);
}

.file-dropdown {
    position: absolute;
    overflow: visible;
    right: 0px;
    width: fit-content;
    transition: .2s;
    cursor: pointer;
    padding: 7px;
    margin: 7px 10px 7px 0px;
    border-radius: 15px;
    color: var(--important);
    background-color: var(--toolbar);
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto;
    overflow: visible;
}

.file-dropdown .dropdown-title {
    color: var(--important);
}

.file-dropdown .dropdown-title:hover {
    color: #5c7dff;
}

.file-dropdown .options {
    font-family: Roboto;
    visibility: hidden;
    position: absolute;
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    width: 140px;
    top: 45px;
    left: -120px;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.file-dropdown .options button {
    font-family: Roboto;
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 2px;
    border-radius: 15px;
    font-weight: 600;
    color: var(--editor-text);
    background-color: transparent;
    border: none;
    text-align: start;
}

.file-dropdown .options button:hover {
    background-color: var(--hover);
}

.file-dropdown .options i {
    margin: 0 5px;
}

.dropdown-title {
    font-family: Roboto;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.export-note-button {
    position: absolute;
    right: 162px;
    border: none;
    transition: .2s;
    cursor: pointer;
    padding: 7px 15px;
    margin: 7px 10px 7px 0px;
    border-radius: 15px;
    color: var(--important);
    background-color: var(--toolbar);
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto;
}

.export-note-button:hover {
    color: #5c7dff;
}

.save-note-btn {
    position: absolute;
    right: 55px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 7px 10px 7px 0px;
    width: 90px;
    height: 35px;
    background-color: #5c7dff; 
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto;
    border-radius: 35px;
    transition: .2s;
}

.save-note-btn:hover {
    background-color: #4a6eff;
}

.exit-text-editor-btn {
    cursor: pointer;
    padding: 5px 0;
    margin-left: 10px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--toolbar);
    color: var(--important);
    font-weight: 600;
    font-size: 16px;
    font-family: Roboto;
    border-radius: 15px;
    transition: .2s;
}

.exit-text-editor-btn:hover {
    color: #5c7dff;
}
.note-name-input:hover,
.note-name-input:focus {
    border-color: #5c7dff;
}