.thought_card {
    height: 220px;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 45px 1fr;
    box-shadow: .5rem .5rem 1rem rgb(213, 226, 241);
    transition: .4s;
}

.thought_card_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thought_card_options_icon {
    cursor: pointer;
    font-size: 18px;
    color: #1b1b1b;
}

.thought_card_content_box {
    overflow-y: scroll;
}

.thought_card_content {color: #1b1b1b;}
.thought_card_title {color: rgb(37, 37, 37);}

.thought_card_content_box::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.thought_card_content_box::-webkit-scrollbar-thumb {
    background-color: rgb(45, 178, 255, .3);
    border-radius: 5px;
}