.notification-card {
    background-color: var(--notification);
    position: absolute;
    bottom: -100px;
    right: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    border: 1px solid var(--border-card);
    height: 70px;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 0px;
    transition: 300ms;
    z-index: 5;
}

.notification-card:hover {
    height: 80px;
}

.show-notification {
    bottom: 30px;
    right: 20px;
}

#notification-icon {
    color: var(--background);
    font-size: 20px;
    background-color: #a9baff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-message-title {
    font-weight: 600;
    font-family: sans-serif;
    margin: 0;
    font-size: 15px;
    color: var(--important);
}

.notification-message {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text);
    font-family: sans-serif;
}