.notification-card {
    position: absolute;
    bottom: -200px;
    right: 50px;
    font-family: sans-serif;
    background-color: var(--sidebar);
    height: 150px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 150ms;
    border: 1px solid var(--border-card);
}

.notification-card:hover {
    scale: 1.05;
}

.notification-card i {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #5c7fdd;
    padding: 15px;
    color: #fff;
    border-radius: 50%;
}

.notification-card h3 {
    color: var(--important);
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
}

.notification-card p {
    color: var(--text);
}

.show-notification {
    bottom: 50px;
}

.notify-empty-text {
    font-size: 45px;
    color: var(--placeholder);
    position: absolute;
    top: 35%;
    left: calc(50% - 200.5px);
}