.folder {
    user-select: none;
    cursor: pointer;
    min-height: 280px;
    max-height: 280px;
    border-radius: 15px;
    background-color: var(--card);
    color: var(--icon);
    display: grid;
    grid-template-rows: 40px 1fr 50px;
    margin: 20px;
    overflow: visible;
    border: 1px solid var(--border-card);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease;
}

.folder-name-box {
    cursor: auto;
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
}

.folder-logo {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.folder-logo i {
    color: var(--icon);
    font-size: 30px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folder-util-bar {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: 0;
    transition: 200ms;
    cursor: auto;
}

.folder-util-bar:hover {
    opacity: 1;
}

.folder-util-bar i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

.folder-util-bar i:hover {
    background-color: var(--hover);
    color: var(--icon-hover);
}

.folder h4 {
    width: 100%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--important);
    font-size: 15px;
}

.color-light-sky-blue {
    background-color: rgb(169, 215, 255); 
    border-color: rgb(169, 215, 255);
}
.color-peach {
    background-color: rgb(255, 224, 158);
    border-color: rgb(255, 224, 158);
}
.color-light-green {
    background-color: rgb(159, 251, 149);
    border-color: rgb(159, 251, 149);
}
.color-lavender {
    background-color: rgb(223, 193, 255);
    border-color: rgb(223, 193, 255);
}
.color-pink-lavender {
    background-color: rgb(225, 175, 209);
    border-color: rgb(225, 175, 209);
}
.color-salmon-pink {
    background-color: rgb(255, 163, 163);
    border-color: rgb(255, 163, 163);
}
.color-sunset-orange {
    background-color: rgb(255, 191, 169);
    border-color: rgb(255, 191, 169);
}
.color-turquoise {
    background-color: rgb(158 213 197);
    border-color: rgb(158 213 197);
}
.color-blue-violet {
    background-color: rgb(142, 122, 181);
    border-color: rgb(142, 122, 181);
}

.color-light-sky-blue h4,
.color-peach h4,
.color-light-green h4,
.color-lavender h4,
.color-salmon-pink h4,
.color-pink-lavender h4,
.color-sunset-orange h4,
.color-turquoise h4,
.color-blue-violet h4 {color: #1b1c22}


.color-light-sky-blue .folder-logo i {color: rgb(110, 183, 249)}
.color-light-green .folder-logo i {color: rgb(88, 204, 76)}
.color-peach .folder-logo i {color: rgb(255, 201, 84)}
.color-lavender .folder-logo i {color: rgb(201, 151, 255)}
.color-salmon-pink .folder-logo i {color: rgb(255, 118, 118)}
.color-pink-lavender .folder-logo i {color: rgb(169, 115, 151)}
.color-sunset-orange .folder-logo i {color: rgb(215 147 124)}
.color-turquoise .folder-logo i { color: rgb(116 183 164)}
.color-blue-violet .folder-logo i {color: rgb(115 92 159)}


.color-light-sky-blue .folder-util-bar i,
.color-peach .folder-util-bar i,
.color-light-green .folder-util-bar i,
.color-lavender .folder-util-bar i,
.color-pink-lavender .folder-util-bar i,
.color-salmon-pink .folder-util-bar i,
.color-sunset-orange .folder-util-bar i,
.color-turquoise .folder-util-bar i,
.color-blue-violet .folder-util-bar i {color: #444863}


.color-light-sky-blue .folder-util-bar i:hover {background-color: rgb(135, 198, 255)}
.color-peach .folder-util-bar i:hover {background-color: rgb(255, 208, 107)}
.color-light-green .folder-util-bar i:hover {background-color: rgb(106, 226, 94)}
.color-lavender .folder-util-bar i:hover {background-color: rgb(210, 168, 255)}
.color-pink-lavender .folder-util-bar i:hover {background-color: rgb(214, 150, 192)}
.color-salmon-pink .folder-util-bar i:hover {background-color: rgb(255, 141, 141)}
.color-sunset-orange .folder-util-bar i:hover {background-color: rgb(246 170 145)}
.color-turquoise .folder-util-bar i:hover {background-color: rgb(112 198 173)}
.color-blue-violet .folder-util-bar i:hover {background-color: rgb(131 104 182)}