list-item-card-1 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    transition: 150ms;
    border-radius: 7px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

list-item-card-1:hover{
    scale: 1.02;
    background-color:  var(--list-item-hover);
}

list-item-card-1 .list-item-card-1-buttons-container {
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    opacity: 0;
    transition: 150ms;
}

list-item-card-1 .list-item-card-1-buttons-container:hover {
    opacity: 1;
}

list-item-card-1 span {
    color: var(--important);
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 10px;
}

list-item-card-1 button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

list-item-card-1 button:hover {
    background-color: var(--hover);
    color: var(--icon-hover);  
}