
.task {
    cursor: pointer;
    background-color: var(--task);
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px 10px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.task i {
    margin-right: 10px;
}

.task h3 {
    font-family: sans-serif;
    color: var(--important);
    margin-top: 0;
}

.task p {
    font-family: sans-serif;
    font-size: 14px;
    margin: 10px 0;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.task .due-date {
    background-color: var(--due-date);
    color: var(--text);
}

.documentation-tag {
    background-color: #b3c2ff;
    color: #5974df;
}

.bug-tag {
    background-color: #ffa3a3;
    color: #dc5252;
}

.feature-tag {
    background-color: #9ecdff;
    color: #2d7bd1;
}

.testing-tag {
    background-color: #afffaf;
    color: #168a16;
}

.user-story-tag {
    background-color: #ffc4e1;
    color: #ff5371;
}

.learning-story-tag {
    background-color: #7bc6c9;
    color: #377182;
}

.research-story-tag {
    background-color: #b7b7ff;
    color: #4949ff;
}

.enabler-story-tag {
    background-color: #b087e7;
    color: #4e2685;
}

.task-tag {
    background-color: #d9dbe7;
}

