.cover_paper_note {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 100%;
    width: 100dvw;
    height: 100dvh;
    background-color: aliceblue;
    z-index: 1;
}