.password_protection_container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 50px 60px 90px;
    width: 430px;
    height: 250px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 20px;
    box-shadow: 10px 30px 15px rgb(213, 226, 241);
}

.confirm_password_container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 50px 100px;
    width: 430px;
    height: 200px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 20px;
    box-shadow: 10px 30px 15px rgb(213, 226, 241);
}


.password_protection_container #lock_icon,
.confirm_password_container #lock_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    bottom: 40px;
    font-size: 90px;
    color: rgb(154, 191, 255, 1);
}

.password_protection_container p {
    text-align: center;
    margin-top: 10px;
    color: #575757;
    font-size: 15px;
    font-weight: 600;
}

.password_protection_input_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

.password_protection_input_box input {
    position: relative;
    outline: none;
    border: none;
    background-color: aliceblue;
    padding: 0 50px 0 5px;
    font-size: 14px;
    border-radius: 5px;
    border-bottom: 3px solid rgb(154, 191, 255, 1);
    width: 320px;
    height: 40px;
}

#password_eye_icon {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 10px;
}


.save_password_btn,
.unlock_note_btn {
    cursor: pointer;
    outline: none;
    border: none;
    height: 40px;
    margin: 20px 70px 5px 70px;
    background-color: rgb(154, 191, 255, 1);
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;            
}