.password_protection_container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 50px 60px 90px;
    width: 430px;
    height: 250px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 20px;
    box-shadow: 10px 30px 15px rgb(77 89 103);
}

.confirm_password_container {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 50px 50px 100px;
    width: 430px;
    height: 200px;
    background-color: #ffffff;
    overflow: visible;
    border-radius: 20px;
    box-shadow: 10px 30px 15px rgb(213, 226, 241);
}


.password_protection_container #lock_icon,
.confirm_password_container #lock_icon {
    transform: rotate(315deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    bottom: 40px;
    font-size: 90px;
    color: #669DFF;
}

.password_protection_container p {
    text-align: center;
    margin-top: 10px;
    color: #898a8a;
    font-size: 15px;
    font-weight: 600;
}

.password_protection_input_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: visible;
}

.password_protection_input_box input {
    position: relative;
    outline: none;
    padding: 0 50px 0 5px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px rgb(213, 226, 241);
    border: 2px solid rgb(154, 191, 255, .2);
    width: 320px;
    height: 40px;
    transition: .4s;
}

.password_protection_input_box input:hover,
.password_protection_input_box input:focus {border: 2px solid rgb(154, 191, 255, .5)} 


#password_eye_icon {
    cursor: pointer;
    position: absolute;
    color: rgb(154, 191, 255, .5);
    right: 40px;
    top: 13px;
}


.save_password_btn,
.unlock_note_btn {
    cursor: pointer;
    outline: none;
    border: none;
    height: 40px;
    margin: 20px 70px 5px 70px;
    background-color: #669DFF;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;            
}