.fadeInFromBottom {
    opacity: 1;
    transform: translateY(0) !important;
}

.fadeInFromSide {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1 !important;
}

.openDropdown {
    opacity: 1; 
}