.dialog {
    user-select: none;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--dialog);
    z-index: 3;
    font-family: Roboto;
}