body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button {
    cursor: pointer;
}

::selection {
    background-color: var(--selection);
}

.wrapper {
    user-select: none;
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: var(--background);
}

.content {
    font-family: Roboto;
    display: grid;
    grid-template-rows: 50px 1fr;
}