body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::selection {
    background-color: var(--selection);
}

.wrapper {
    user-select: none;
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: var(--background);
}

.main {
    font-family: Roboto;
    display: grid;
    grid-template-rows: 50px 1fr;
}

.main-top {
    display: flex;
    justify-content: right;
    border-bottom: 1px solid var(--border-main-top);
    gap: 10px;
    background-color: var(--background);
}

.create-folder-btn {
    cursor: pointer;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;  
    background-color: #5c7dff; 
    color: #ffffff;
    transition: 150ms;
}

.create-note-btn {
    border: none;
    cursor: pointer;
    background-color: rgb(232, 234, 241);
    padding: 7px 20px;
    border-radius: 20px; 
}

.current-folder-name-container {
    display: block;
    align-items: center;
    padding: 5px 10px;
    margin: 15px 10px 15px 10px;
    color: var(--text);
}

.current-folder-name-container div {
    display: flex;
    column-gap: 5px;
    padding-top: 10px;
}

.current-folder-name-container h2 {
    display: contents;
    font-size: 35px;
    height: 50px;
    max-height: 50px;
    margin: 0px;
    color: var(--text);
    font-family: sans-serif;
}

.search-container,
.search-notes-container {
    position: relative;
    margin: 7px 10px 7px 0px;
    display: flex;
    background-color: var(--searchbar);
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
    width: 250px;
    transition: 200ms;
    border: 1px solid var(--border-card);
}

.search-container input,
.search-notes-container input {
    background-color: transparent;
    border: none;
    outline: none;
    width: -webkit-fill-available;
    color: var(--text);
    padding: 2px 5px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
}

.search-container input::placeholder,
.search-notes-container input::placeholder {
    color: var(--placeholder);
}

.search-container i,
.search-notes-container i {
    margin-left: 5px;
    color: var(--searchbar-icon);
}

.note-suggestions-list,
.note-link-suggestions-list {
    position: absolute;
    top: 50px;
    left: -1px;
    z-index: 1;
    width: 250px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid var(--border-card);
    border-radius: 15px;
    background-color: var(--searchbar);
    list-style: none;
    margin: 0;
    padding: 10px;
    visibility: hidden;
}

.note-suggestions-list li,
.note-link-suggestions-list li {
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 10px 10px;
    padding: 5px;
    color: var(--editor-text);
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 150ms ease
}

.note-suggestions-list li:hover,
.note-link-suggestions-list li:hover {
    background-color: var(--hover-searchbar-options);
    color: var(--hover-text);
}

.note-suggestions-list i {
    margin-right: 5px;
    color: var(--placeholder);
}

.note-suggestions-list p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--placeholder);
    font-size: 14px;
    margin: 20px 15px;
}

.create-folder-btn:hover {
    background-color: #4a6eff;
}

.main-bottom {
    padding: 0 70px;
    max-height: calc(100dvh - 50px);
}

.content-folder-view {
    position: relative;
}

.content-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 320px);
    max-height: calc(100dvh - 180px);
    overflow-y: scroll;
}