body {
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition: 150ms;
}

input {
    outline: none;
    transition: 150ms;
}

textarea {
    outline: none;
    resize: none;
    border: none;
    transition: 150ms;
}

i {
    transition: 150ms;
    background-color: transparent;
}

::selection {
    background-color: var(--selection);
}

.dragging {
    background-color: var(--dragging) !important;
}

.hovered {
    scale: 1.05;
    box-shadow: 0 0 20px var(--shadow) !important;
}

.drag-image {
    position: absolute;
    opacity: .8;
    background-color: var(--dragging);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon);
    width: 125px;
    height: 100px;
    font-size: 25px;
}

.wrapper {
    user-select: none;
    position: relative;
    width: 100dvw;
    height: calc(100dvh);
    display: grid;
    grid-template-columns: 220px 1fr;
    background-color: var(--background);
}

.content {
    display: grid;
    grid-template-rows: 37px 1fr;
    max-height: calc(100dvh);
}
.view {
    max-height: calc(100dvh - 37px);
}

.view-title {
    font-size: 56px;
    width: fit-content;
    font-family: sans-serif;
    color: var(--important);
}

.subtitle {
    font-weight: 500;
    color: var(--important);
    margin: 30px 0;
    font-family: sans-serif;
}


.context-text {
    font-weight: 600;
    color: var(--text);
    margin: 0 0 50px 0px;
    max-width: 600px;
}

.util-bar-type-2 {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--border-sidebar-right);
}

.util-bar-type-2 button {
    font-size: 16px;
    background-color: transparent;
    color: var(--text);
    padding: 5px 10px;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder);
}

.dropdown-items {
    position: absolute;
    top: 60px;
    left: -1px;
    z-index: 1;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid var(--border-sidebar-right);
    border-radius: 10px;
    background-color: var(--searchbar-dropdown);
    list-style: none;
    margin: 0;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 150ms;
}

.dropdown-items li {
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    color: var(--editor-text);
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 150ms ease
}

.dropdown-items li:hover {
    background-color: var(--hover-searchbar-options);
    color: var(--hover-text);
}