.content-list-view::-webkit-scrollbar,
.note-suggestions-list::-webkit-scrollbar,
.linkable-notes-list::-webkit-scrollbar,
.content-view-notification-layer::-webkit-scrollbar,
.font-options::-webkit-scrollbar,
.linkable-notes-list::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.content-list-view::-webkit-scrollbar-thumb,
.note-suggestions-list::-webkit-scrollbar-thumb,
.linkable-notes-list::-webkit-scrollbar-thumb,
.font-options::-webkit-scrollbar-thumb,
.linkable-notes-list::-webkit-scrollbar-thumb {
    background-color: #e7e9f3;
    border-radius: 5px;
}

.content-view-notification-layer::-webkit-scrollbar-thumb {
    background-color: #e7e9f3;
    border-radius: 10px;
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #cfd2e3;
}

.editor::-webkit-scrollbar-thumb:active {
   background-color: #bbbed4;
}