.content-list-view::-webkit-scrollbar,
.note-suggestions-list::-webkit-scrollbar,
.linkable-notes-list::-webkit-scrollbar,
.content-folder-view::-webkit-scrollbar,
.font-options::-webkit-scrollbar,
.linkable-notes-list::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}


.note-suggestions-list::-webkit-scrollbar-thumb,
.font-options::-webkit-scrollbar-thumb,
.linkable-notes-list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-content-view);
    border-radius: 10px;
}

.content-list-view::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-list-view);
    border-radius: 10px;
}

.content-folder-view::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-content-view);
    border-radius: 10px;
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #cfd2e3;
    border-radius: 10px;
}

.editor::-webkit-scrollbar-thumb:active {
   background-color: #bbbed4;
}