:root {
    /*Settings view*/
    --setting-dropdown: #f4f5f7;
    /*Flashcard View*/
    --progress-color1: linear-gradient(90deg, rgba(92, 127, 221, 1) 0%, rgb(190 153 235) 100%);
    --progress-color2: #e6eaff;
    --shadow-practice-card: #e6eaf3;
    --flashcard-bg: #ffffff;
    --flashcard-edit-bg: #e7ebffb5;
    --flashcard-border: #dee1ef;
    --stats-span-color: #7990ff;
    /*Template View*/

    /*Notes View*/
    --bookmark: #f3f4ff;
    --hover: rgba(92, 125, 255, .3); 
    --hover-bookmark-icon-if-bookmarked: rgba(92, 125, 255, .3);
    --hover-favorite-icon-if-favorited: rgb(255 141 141);
    --folder-name-input: #ced1e3;

    /*stickyWall view*/
    --add-sticky-btn: #eae9f9;

    /*Home View*/

    /*Editor View*/
    --editor: #fff;
    --editor-background: #fcfcff;
    --editor-border: #ced1e3;
    --toolbar-border: #ced1e3;
    --editor-container: #ffffff;
    --editor-container-shadow: #272933;
    --editor-container-input: #f6f7ff;
    --dropdown: #ffffff;

    --important-background-color: #f4f4f4;
    --important-text-color: #444863;
    --important-icon-color: #dde0ec;

    --copy-background-color: #393742;
    --copy-text-color: #edeffd;
    --copy-icon-color: #1e1e28;
    --copy-icon-text-color: #edeffd;
    --copy-text-color-hover: #5c7fdd;

    --editor-dropdown: #ffffff;
    --editor-dropdown-hover: rgba(92, 125, 255, .3);
    --editor-dropdown-hover-color: #383838;

    --toolbar-btn-text: #4f578f;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --editor-text: #383838;
    --hover-slash-command: #f3f4f8;

    /*Other*/
    --exit-btn: #f4f5f7;
    --secondary: #5c7dff;
    --background: #ffffff;
    --notification: #ffffff;
    --subtitle: #63656d;
    --sidebar: #fff; 
    --searchbar: #f2f4f9;
    --sidebar-text: #444452; 
    --sidebar-text-hover: #5c7dff; 
    --card: #ffffff; 
    --text: #444863;
    --icon: #4c4c68; 
    --icon-hover: #444863;
    --important: #444863;
    --border-card: #dee1ef;
    --border-sidebar-right: #dee1ef; 
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-sidebar: rgba(92, 125, 255, .3);
    --searchbar-placeholder: #9297aa; 
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: #6fa2ff1c;
    --card-shadow: #e6edfb; 
    --shadow: rgba(92, 98, 157, .1);
    --shadow-notification: #dcdee6;
    --modal: #ffffff;
    --scrollbar-content-view: #cccfe1;
}

.dark {
    /*Settings view*/
    --setting-dropdown: #121318;
    /*Editor View*/
    --editor: #17181f;
    --editor-background: #1f2129;
    --editor-border: #000000;
    --toolbar-border: #000000;
    --toolbar: #1b1c23;
    --toolbar-btn-text: #bbbed2;
    --editor-text: #d5d9e0;
    --editor-container: #23252e;
    --editor-container-shadow: transparent;
    --editor-container-input: #16171c;
    --editor-dropdown: #242630;
    --editor-dropdown-hover: #191a20;
    --editor-dropdown-hover-color: #5c7dff;
    --dropdown: #1f2129;

    --important-background-color: #ffefb3;
    --important-text-color: #101118;
    --important-icon-color: #ffe547;

    --copy-background-color: #090910;
    --copy-text-color: #b3b6c6;
    --copy-icon-color: #15152f;
    --copy-icon-text-color: #e2e5ff;
    --copy-text-color-hover: #5c7dff;
    --hover-slash-command: #16171c;

    /*Flashcard View*/
    --progress-color1: linear-gradient(90deg, #5c7fdd 0%, #be99eb 100%);
    --progress-color2: #49517a;
    --shadow-practice-card: #111020;
    --flashcard-bg: #17181f;
    --flashcard-edit-bg: #595fc6bd;
    --flashcard-border: #5063b1;
    --stats-span-color: #7990ff;

    /*stickyWall view*/
    --add-sticky-btn: #333448;

    /*Notes View*/ 
    --hover-bookmark-icon-if-bookmarked: #434c71;
    --hover-favorite-icon-if-favorited: rgba(142, 223, 204, .3);
    --bookmark: #5063b1;
    --hover: #3c4361; 
    --folder-name-input: #5c7dff;
    
    /*Other*/
    --exit-btn: #28282f;
    --secondary: #5c7dff;
    --background: #17181f; /*1b1c22*/
    --notification: #16171c;
    --subtitle: #9196aa;
    --sidebar: #121318; 
    --searchbar: #252831;
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #5c7dff; 
    --card: #363b4a85;
    --text: #bbbed2;
    --icon: #bbbed2;
    --icon-hover: #5c7dff;
    --important: #d6d8e5;
    --border-card: #000000;
    --border-sidebar-right: #000000;
    --hover-searchbar-options: #1a1b21;
    --hover-text: #5c7dff;
    --hover-toolbar-btns: #383d4c;
    --hover-sidebar: #16171c;
    --searchbar-placeholder: #d4d7e5; 
    --placeholder: #d4d7e5;
    --selection: #314682;
    --dialog: rgb(0 0 0 / 25%);
    --shadow: rgba(0, 0, 0, 0.1);
    --card-shadow: #0c0c1a; 
    --shadow-notification: #121216;
    --modal: #1f2129;
    --scrollbar-content-view: #3f4045;
}

.light{
    /*Settings view*/
    --setting-dropdown: #f4f5f7;
    /*Flashcard View*/
    --progress-color1: linear-gradient(90deg, rgba(92, 127, 221, 1) 0%, rgb(190 153 235) 100%);
    --progress-color2: #e6eaff;
    --shadow-practice-card: #e6eaf3;
    --flashcard-bg: #ffffff;
    --flashcard-edit-bg: #e7ebffb5;
    --flashcard-border: #dee1ef;
    --stats-span-color: #7990ff;
    /*Template View*/

    /*stickyWall view*/
    --add-sticky-btn: #eae9f9;

    /*Notes View*/
    --bookmark: #f3f4ff;
    --hover: rgba(92, 125, 255, .3); 
    --hover-bookmark-icon-if-bookmarked: rgba(92, 125, 255, .3);
    --hover-favorite-icon-if-favorited: rgb(255 141 141);
    --folder-name-input: #ced1e3;

    /*Home View*/

    /*Editor View*/
    --editor: #fff;
    --editor-background: #fcfcff;
    --editor-border: #ced1e3;
    --toolbar-border: #ced1e3;
    --editor-container: #ffffff;
    --editor-container-shadow: #272933;
    --editor-container-input: #f6f7ff;
    --dropdown: #ffffff;

    --important-background-color: #f4f4f4;
    --important-text-color: #444863;
    --important-icon-color: #dde0ec;

    --copy-background-color: #393742;
    --copy-text-color: #edeffd;
    --copy-icon-color: #1e1e28;
    --copy-icon-text-color: #edeffd;
    --copy-text-color-hover: #5c7fdd;

    --editor-dropdown: #ffffff;
    --editor-dropdown-hover: rgba(92, 125, 255, .3);
    --editor-dropdown-hover-color: #383838;

    --toolbar-btn-text: #4f578f;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --editor-text: #383838;
    --hover-slash-command: #f3f4f8;

    /*Other*/
    --exit-btn: #f4f5f7;
    --secondary: #5c7dff;
    --background: #ffffff;
    --notification: #ffffff;
    --subtitle: #63656d;
    --sidebar: #fff; 
    --searchbar: #f2f4f9;
    --sidebar-text: #444452; 
    --sidebar-text-hover: #5c7dff; 
    --card: #ffffff; 
    --text: #444863;
    --icon: #4c4c68; 
    --icon-hover: #5c7fdd;
    --important: #444863;
    --border-card: #dee1ef;
    --border-sidebar-right: #dee1ef; 
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-sidebar: rgba(92, 125, 255, .3);
    --searchbar-placeholder: #9297aa; 
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: #6fa2ff1c;
    --shadow: rgba(92, 98, 157, .1);
    --card-shadow: #e6edfb; 
    --shadow-notification: #dcdee6;
    --modal: #ffffff;
    --scrollbar-content-view: #cccfe1;
}
