.dark {
    /*Settings view*/
    --setting-dropdown: #121316;
    /*Editor View*/
    --editor: #15161a;
    --editor-background: #1f2129;
    --editor-border: #000000;
    --toolbar-border: #000000;
    --toolbar: #1b1c23;
    --toolbar-btn-text: #bbbed2;
    --editor-text: #d5d9e0;
    --editor-container: #23252e;
    --editor-container-shadow: transparent;
    --editor-container-input: #16171c;
    --editor-dropdown: #2e3040;
    --dropdown: #1f2129;

    --important-background-color: #ffefb3;
    --important-text-color: #101118;
    --important-icon-color: #ffe547;
    --hover-slash-command: #16171c;
    --file-path: #9095aa;

    /*Flashcard View*/
    --progress-color1: linear-gradient(90deg, #9db7ff 0%, #6066ff 100%);
    --progress-color2: #49517a;
    --shadow-practice-card: #111020;
    --flashcard-bg: #17181f;
    --flashcard-edit-bg: #595fc6bd;
    --flashcard-border: #5063b1;
    --stats-span-color: #7990ff;

    /*stickyWall view*/
    --add-sticky-btn: #333448;

    /*Notes View*/ 
    --hover-bookmark-icon-if-bookmarked: #434c71;
    --bookmark: #5063b1;
    --dragging: #27293b;
    --hover: #617fff69; 
    --folder-name-input: #5c7dff;
    
    /*taskboard*/
    --taskboard-card: #0f0f13;
    --board-section: #0f1015;
    --task: #1f2129;
    --due-date: #402384;

    /*Other*/
    --title-bar-button-background: #252735;
    --title-bar-button-color: #5c7fdd;
    --exit-btn: #28282f;
    --secondary: #5c7dff;
    --background: #15161a; /*1b1c22*/
    --notification: #16171c;
    --subtitle: #9196aa;
    --sidebar: #121318; 
    --searchbar: #2e3040;
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #5c7dff; 
    --card: #232532;
    --text: #bbbed2;
    --icon: #bbbed2;
    --icon-hover: #5c7dff;
    --important: #d6d8e5;
    --border-card: #000000;
    --border-sidebar-right: #565765;
    --hover-searchbar-options: #1a1b21;
    --hover-text: #5c7dff;
    --hover-toolbar-btns: #383d4c;
    --hover-sidebar: #28283b;
    --searchbar-placeholder: #d4d7e5; 
    --placeholder: #868b9e;
    --selection: #314682;
    --dialog: rgb(0 0 0 / 25%);
    --shadow: rgba(0, 0, 0, 0.1);
    --card-shadow: none; 
    --shadow-notification: #121216;
    --modal: #1f2129;
    --searchbar-dropdown: #121316;
    --searchbar-border: #43454f;
    --scrollbar-content-view: #3f4045;
    --stats-background: #0f0f13;
    --home-tab: #28283b;
}

.light{
    /*Settings view*/
    --setting-dropdown: #f4f5f7;
    /*Flashcard View*/
    --progress-color1: linear-gradient(90deg, rgb(213 224 255) 0%, rgb(149 156 255) 100%);
    --progress-color2: #e6eaff;
    --shadow-practice-card: #e6eaf3;
    --flashcard-bg: #ffffff;
    --flashcard-edit-bg: #e7ebffb5;
    --flashcard-border: #dee1ef;
    --stats-span-color: #7990ff;
    /*Template View*/

    /*stickyWall view*/
    --add-sticky-btn: #eae9f9;

    /*Notes View*/
    --dragging: #f3f4ff;
    --bookmark: #d5ddff;
    --hover: rgba(92, 125, 255, .3); 
    --hover-bookmark-icon-if-bookmarked: rgba(92, 125, 255, .3);
    --folder-name-input: #ced1e3;

    /*Home View*/

    /*Editor View*/
    --editor: #fff;
    --editor-background: #fcfcff;
    --editor-border: #ced1e3;
    --toolbar-border: #ced1e3;
    --editor-container: #ffffff;
    --editor-container-shadow: #272933;
    --editor-container-input: #f6f7ff;
    --dropdown: #ffffff;

    --important-background-color: #f4f4f4;
    --important-text-color: #444863;
    --important-icon-color: #dde0ec;

    --editor-dropdown: #ffffff;

    --toolbar-btn-text: #4f578f;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --editor-text: #383838;
    --hover-slash-command: #f3f4f8;
    --file-path: #a0a6c1;

    /*taskboard*/
    --taskboard-card: #f0f3ff;
    --board-section: #fff;
    --task: #f5f6ff;
    --due-date: #d9deff;

    /*Other*/
    --title-bar-button-background: #dfe7ff;
    --title-bar-button-color: rgb(101, 102, 120);
    --exit-btn: #f4f5f7;
    --secondary: #5c7dff;
    --background: #ffffff;
    --notification: #ffffff;
    --subtitle: #63656d;
    --sidebar: #ffffff; 
    --searchbar: #f4f4fc;
    --sidebar-text: #444452; 
    --sidebar-text-hover: #5c7dff; 
    --card: #ffffff; 
    --text: #444863;
    --icon: #4c4c68; 
    --icon-hover: #5c7fdd;
    --important: #444863;
    --border-card: #dee1ef;
    --border-sidebar-right: #dee1ef; 
    --hover-searchbar-options: #f1f6ff;
    --hover-text: #444863;
    --hover-sidebar: #f0f0ff;
    --searchbar-placeholder: #9297aa; 
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: #6fa2ff1c;
    --shadow: rgba(92, 98, 157, .1);
    --card-shadow: 5px 5px 18px #eaecf7; 
    --shadow-notification: #dcdee6;
    --modal: #ffffff;
    --scrollbar-content-view: #cccfe1;
    --searchbar-dropdown: #fff;
    --searchbar-border: #ced1e3;
    --stats-background: #f6f7ff;
    --home-tab: #f0f0ff;
}
