:root {
    --background: #ffffff; /*f4f5f7*/
    --notification: #ffffff;
    --editor: #fff;
    --editor-background: #fcfcff; /*fafbff*/
    --editor-border: #ced1e3;
    --toolbar-border: #ced1e3;
    --sidebar: #f4f5f9; /*fafbff*/ 
    --searchbar: #ffffff;
    --sidebar-text: #444452; /*4c4c4c*/
    --sidebar-text-hover: #5c7dff; /*414141*/
    --sidebar-icon: #747aa0;
    --card: #ffffff; /*f4f5f7*/
    --text: #444863;
    --icon: #646485; /*495080*/
    --searchbar-icon: #ced2ea;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #ffffff;/* Light grey eff1f7, Light blue #f1f5ff*/
    --toolbar-btn-text: #4f578f; /*747aa0*/
    --editor-text: #383838;
    --border-card: #dee1ef;
    --border-sidebar-right: #f4f5f9; /*dee1ef*/
    --hover: rgba(92, 125, 255, .3); 
    --hover-bookmark-icon-if-bookmarked: rgba(92, 125, 255, .3);
    --hover-favorite-icon-if-favorited: rgb(255 141 141);
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --hover-sidebar: rgba(92, 125, 255, .3);
    --bookmark: #f3f4ff;
    --favorite: #ffb7b7;
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: rgba(0, 3, 24, 0.30);
    --paragraph: rgba(239, 241, 250, .4);
    --editor-container: #252831;
    --editor-container-shadow: #272933;
    --editor-container-input: #f6f7ff;
    --shadow: rgba(92, 98, 157, .1);
    --shadow-notification: #dcdee6;
    --card-shadow: #e0e2ec;
    --editor-dropdown: #ffffff;
    --editor-dropdown-hover: rgba(92, 125, 255, .3);
    --editor-dropdown-hover-color: #383838;
    --folder-name-input: #ced1e3;
    --modal: #ffffff;
    --dropdown: #ffffff;
    --scrollbar-content-view: #e7e9f3;
    --create-btn: rgb(232, 234, 241);
    --create-btn-hover: #dfe3f1;

    --hover-slash-command: #f3f4f8;

    --important-background-color: #f4f4f4;
    --important-text-color: #444863;
    --important-icon-color: #dde0ec;

    --copy-background-color: #393742;
    --copy-text-color: #edeffd;
    --copy-icon-color: #1e1e28;
    --copy-icon-text-color: #edeffd;
    --copy-text-color-hover: #5c7fdd;
}

.dark {
    --background: #1b1c22;
    --notification: #16171c;
    --editor: #1b1c23;
    --editor-background: #1f2129;
    --editor-border: #000000;
    --toolbar-border: #000000;
    --sidebar: #16171c; 
    --searchbar: #252831;
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #5c7dff; 
    --sidebar-icon: #d6d8e5;
    --card: #252831;
    --text: #bbbed2;
    --icon: #bbbed2;
    --icon-hover: #5c7dff;
    --important: #d6d8e5;
    --toolbar: #1b1c23;
    --toolbar-btn-text: #bbbed2;
    --editor-text: #d5d9e0;
    --border-card: #1f2129;
    --border-sidebar-right: #16171c;
    --hover: #3c4361; 
    --hover-bookmark-icon-if-bookmarked: #434c71;
    --hover-favorite-icon-if-favorited: rgba(142, 223, 204, .3);
    --hover-searchbar-options: #1a1b21;
    --hover-text: #5c7dff;
    --hover-toolbar-btns: #383d4c;
    --hover-sidebar: #16171c;
    --bookmark: #5063b1;
    --favorite: #38958f;
    --placeholder: #d4d7e5;
    --selection: #314682;
    --dialog: rgb(136 145 204 / 15%);
    --paragraph: #252831;
    --editor-container: #23252e;
    --editor-container-shadow: transparent;
    --editor-container-input: #16171c;
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-notification: #121216;
    --card-shadow: #1b1c22; /*16171c*/
    --editor-dropdown: #242630;
    --editor-dropdown-hover: #191a20;
    --editor-dropdown-hover-color: #5c7dff;
    --folder-name-input: #5c7dff;
    --modal: #1f2129;
    --dropdown: #1f2129;
    --scrollbar-content-view: #3f4045;
    --create-btn: #4e505c;
    --create-btn-hover: #434554;

    --hover-slash-command: #16171c;

    --important-background-color: #ffefb3;
    --important-text-color: #101118;
    --important-icon-color: #ffe547;

    --copy-background-color: #090910;
    --copy-text-color: #b3b6c6;
    --copy-icon-color: #15152f;
    --copy-icon-text-color: #e2e5ff;
    --copy-text-color-hover: #5c7dff;

}

.light {
    --background: #ffffff;
    --notification: #ffffff;
    --editor: #fff;
    --editor-background: #fcfcff;
    --editor-border: #ced1e3;
    --toolbar-border: #ced1e3;
    --searchbar: #ffffff;
    --sidebar: #f4f5f9;
    --sidebar-text: #444452;
    --sidebar-text-hover: #5c7dff;
    --sidebar-icon: #747aa0;
    --card: #ffffff;
    --text: #444863;
    --icon: #646485;
    --icon-hover: #444863;
    --important: #444863;
    --toolbar: #ffffff;
    --toolbar-btn-text: #4f578f;
    --editor-text: #383838;
    --border-card: #dee1ef;
    --border-sidebar-right: #f4f5f9;
    --hover: rgba(92, 125, 255, .3);
    --hover-bookmark-icon-if-bookmarked: rgba(92, 125, 255, .3);
    --hover-favorite-icon-if-favorited: rgb(255 141 141);
    --hover-searchbar-options: #f4f5f7;
    --hover-text: #444863;
    --hover-toolbar-btns: rgba(185, 198, 250, 0.5);
    --hover-sidebar: rgba(92, 125, 255, .3);
    --bookmark: #f3f4ff;
    --favorite: #ffb7b7;
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: rgba(58, 64, 106, 0.15);
    --paragraph: rgba(239, 241, 250, .4);
    --editor-container: #ffffff;
    --editor-container-shadow: #dcdeee;
    --editor-container-input: #f6f7ff;
    --shadow: rgba(92, 98, 157, .1);
    --shadow-notification: #dcdee6;
    --card-shadow: #e0e2ec;
    --editor-dropdown: #ffffff;
    --editor-dropdown-hover: rgba(92, 125, 255, .3);
    --editor-dropdown-hover-color: #383838;
    --folder-name-input: #ced1e3;
    --modal: #ffffff;
    --dropdown: #ffffff;
    --scrollbar-content-view: #e7e9f3;
    --create-btn: rgb(232, 234, 241);
    --create-btn-hover: #dfe3f1;

    --hover-slash-command: #f3f4f8;

    --important-background-color: #f4f4f4;
    --important-text-color: #444863;
    --important-icon-color: #dde0ec;

    --copy-background-color: #393742;
    --copy-text-color: #edeffd;
    --copy-text-color-hover: #5c7fdd;
    --copy-icon-color: #1e1e28;
    --copy-icon-text-color: #edeffd;
}